In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
dir = ""

In [14]:
team_att_df = pd.read_csv(dir + "team_attributes.csv")

player_df = pd.read_csv(dir + "player.csv")

#match_df = pd.read_csv(dir + "match.csv")

league_df = pd.read_csv(dir + "league.csv")

country_df = pd.read_csv(dir + "country.csv")

player_att_df = pd.read_csv(dir + "player_attributes.csv")

team_df = pd.read_csv(dir + "team.csv", encoding = "ISO-8859-1")

In [4]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_id      25979 non-null  int64
 1   league_id       25979 non-null  int64
 2   season          25979 non-null  object
 3   stage           25979 non-null  int64
 4   date            25979 non-null  object
 5   match_id        25979 non-null  int64
 6   home_team_id    25979 non-null  int64
 7   away_team_id    25979 non-null  int64
 8   home_team_goal  25979 non-null  int64
 9   away_team_goal  25979 non-null  int64
 10  home_player_1   24755 non-null  float64
 11  home_player_2   24664 non-null  float64
 12  home_player_3   24698 non-null  float64
 13  home_player_4   24656 non-null  float64
 14  home_player_5   24663 non-null  float64
 15  home_player_6   24654 non-null  float64
 16  home_player_7   24752 non-null  float64
 17  home_player_8   24670 non-null  float64
 18  home_player_9   24706 non-null  float64
 19  home_player_10  24543 non-null  float64
 20  home_player_11  24424 non-null  float64
 21  away_player_1   24745 non-null  float64
 22  away_player_2   24701 non-null  float64
 23  away_player_3   24686 non-null  float64
 24  away_player_4   24658 non-null  float64
 25  away_player_5   24644 non-null  float64
 26  away_player_6   24666 non-null  float64
 27  away_player_7   24744 non-null  float64
 28  away_player_8   24638 non-null  float64
 29  away_player_9   24651 non-null  float64
 30  away_player_10  24538 non-null  float64
 31  away_player_11  24425 non-null  float64
 32  B365H           22592 non-null  float64
 33  B365D           22592 non-null  float64
 34  B365A           22592 non-null  float64
 35  BWH             22575 non-null  float64
 36  BWD             22575 non-null  float64
 37  BWA             22575 non-null  float64
 38  IWH             22520 non-null  float64
 39  IWD             22520 non-null  float64
 40  IWA             22520 non-null  float64
 41  LBH             22556 non-null  float64
 42  LBD             22556 non-null  float64
 43  LBA             22556 non-null  float64
 44  PSH             11168 non-null  float64
 45  PSD             11168 non-null  float64
 46  PSA             11168 non-null  float64
 47  WHH             22571 non-null  float64
 48  WHD             22571 non-null  float64
 49  WHA             22571 non-null  float64
 50  SJH             17097 non-null  float64
 51  SJD             17097 non-null  float64
 52  SJA             17097 non-null  float64
 53  VCH             22568 non-null  float64
 54  VCD             22568 non-null  float64
 55  VCA             22568 non-null  float64
 56  GBH             14162 non-null  float64
 57  GBD             14162 non-null  float64
 58  GBA             14162 non-null  float64
 59  BSH             14161 non-null  float64
 60  BSD             14161 non-null  float64
 61  BSA             14161 non-null  float64
dtypes: float64(52), int64(8), object(2)
memory usage: 12.3+ MB

In [5]:
for t in match_df["date"].unique():
    print(t) #m/d/y

8/17/08 0:00
8/16/08 0:00
9/24/08 0:00
11/1/08 0:00
10/31/08 0:00
11/2/08 0:00
11/8/08 0:00
11/9/08 0:00
11/7/08 0:00
11/16/08 0:00
11/15/08 0:00
11/14/08 0:00
11/22/08 0:00
11/23/08 0:00
12/16/08 0:00
11/30/08 0:00
11/29/08 0:00
11/28/08 0:00
12/6/08 0:00
12/5/08 0:00
12/7/08 0:00
12/14/08 0:00
12/13/08 0:00
12/12/08 0:00
12/19/08 0:00
12/21/08 0:00
12/20/08 0:00
1/18/09 0:00
1/17/09 0:00
1/16/09 0:00
1/25/09 0:00
2/18/09 0:00
1/24/09 0:00
10/29/08 0:00
8/23/08 0:00
8/24/08 0:00
1/31/09 0:00
2/1/09 0:00
2/7/09 0:00
2/6/09 0:00
2/8/09 0:00
2/15/09 0:00
2/14/09 0:00
2/22/09 0:00
2/21/09 0:00
2/20/09 0:00
2/28/09 0:00
2/27/09 0:00
3/1/09 0:00
3/8/09 0:00
3/6/09 0:00
3/7/09 0:00
3/13/09 0:00
3/15/09 0:00
3/14/09 0:00
3/20/09 0:00
3/22/09 0:00
3/21/09 0:00
4/5/09 0:00
4/4/09 0:00
4/12/09 0:00
4/10/09 0:00
4/11/09 0:00
8/30/08 0:00
8/31/08 0:00
8/29/08 0:00
4/19/09 0:00
4/18/09 0:00
4/17/09 0:00
4/24/09 0:00
4/26/09 0:00
4/25/09 0:00
5/3/09 0:00
5/2/09 0:00
5/1/09 0:00
5/9/09 0:00
5/8/09 0:00
5/16/09 0:00
5/15/09 0:00
9/13/08 0:00
9/14/08 0:00
9/19/08 0:00
9/21/08 0:00
9/20/08 0:00
9/27/08 0:00
9/26/08 0:00
9/29/08 0:00
9/28/08 0:00
10/3/08 0:00
10/4/08 0:00
10/5/08 0:00
10/19/08 0:00
10/18/08 0:00
10/25/08 0:00
10/26/08 0:00
10/24/08 0:00
7/31/09 0:00
8/2/09 0:00
8/1/09 0:00
10/4/09 0:00
10/3/09 0:00
10/18/09 0:00
10/17/09 0:00
10/24/09 0:00
10/23/09 0:00
10/25/09 0:00
10/31/09 0:00
11/2/09 0:00
11/1/09 0:00
11/8/09 0:00
11/6/09 0:00
11/7/09 0:00
11/21/09 0:00
11/22/09 0:00
11/28/09 0:00
11/27/09 0:00
11/29/09 0:00
12/5/09 0:00
12/6/09 0:00
12/4/09 0:00
12/12/09 0:00
12/13/09 0:00
12/11/09 0:00
2/3/10 0:00
12/19/09 0:00
2/4/10 0:00
2/2/10 0:00
8/9/09 0:00
8/8/09 0:00
8/7/09 0:00
12/26/09 0:00
12/27/09 0:00
12/30/09 0:00
12/29/09 0:00
1/30/10 0:00
1/17/10 0:00
1/16/10 0:00
1/15/10 0:00
1/24/10 0:00
1/23/10 0:00
2/24/10 0:00
1/31/10 0:00
3/10/10 0:00
1/29/10 0:00
2/6/10 0:00
2/7/10 0:00
2/14/10 0:00
3/6/10 0:00
3/7/10 0:00
2/13/10 0:00
2/21/10 0:00
2/19/10 0:00
2/20/10 0:00
2/28/10 0:00
2/27/10 0:00
2/26/10 0:00
3/14/10 0:00
8/15/09 0:00
8/16/09 0:00
3/21/10 0:00
8/23/09 0:00
8/21/09 0:00
8/22/09 0:00
8/30/09 0:00
8/29/09 0:00
8/28/09 0:00
9/13/09 0:00
9/12/09 0:00
9/20/09 0:00
9/18/09 0:00
9/19/09 0:00
9/23/09 0:00
9/22/09 0:00
9/27/09 0:00
9/26/09 0:00
9/28/09 0:00
7/31/10 0:00
7/30/10 0:00
8/1/10 0:00
10/3/10 0:00
10/2/10 0:00
10/1/10 0:00
10/16/10 0:00
10/17/10 0:00
10/15/10 0:00
10/24/10 0:00
10/23/10 0:00
10/22/10 0:00
10/31/10 0:00
10/30/10 0:00
10/29/10 0:00
11/7/10 0:00
11/6/10 0:00
11/5/10 0:00
11/13/10 0:00
11/14/10 0:00
1/18/11 0:00
11/21/10 0:00
11/20/10 0:00
11/27/10 0:00
11/26/10 0:00
11/28/10 0:00
12/5/10 0:00
12/4/10 0:00
3/23/11 0:00
12/3/10 0:00
2/15/11 0:00
12/12/10 0:00
12/11/10 0:00
12/10/10 0:00
8/7/10 0:00
8/8/10 0:00
8/6/10 0:00
12/19/10 0:00
2/16/11 0:00
2/23/11 0:00
12/18/10 0:00
2/2/11 0:00
12/17/10 0:00
12/26/10 0:00
12/29/10 0:00
2/26/11 0:00
2/27/11 0:00
12/30/10 0:00
1/23/11 0:00
1/22/11 0:00
1/21/11 0:00
1/29/11 0:00
1/30/11 0:00
1/28/11 0:00
2/5/11 0:00
2/4/11 0:00
2/6/11 0:00
2/12/11 0:00
2/13/11 0:00
2/19/11 0:00
2/20/11 0:00
3/4/11 0:00
3/6/11 0:00
3/5/11 0:00
3/12/11 0:00
8/14/10 0:00
8/15/10 0:00
3/20/11 0:00
3/19/11 0:00
8/22/10 0:00
8/21/10 0:00
8/20/10 0:00
8/28/10 0:00
8/29/10 0:00
9/12/10 0:00
9/11/10 0:00
9/10/10 0:00
9/19/10 0:00
9/18/10 0:00
9/17/10 0:00
9/22/10 0:00
9/21/10 0:00
9/26/10 0:00
9/25/10 0:00
7/29/11 0:00
7/30/11 0:00
7/31/11 0:00
10/16/11 0:00
10/15/11 0:00
10/23/11 0:00
10/22/11 0:00
10/29/11 0:00
10/30/11 0:00
11/6/11 0:00
11/5/11 0:00
11/4/11 0:00
11/20/11 0:00
11/19/11 0:00
11/18/11 0:00
11/25/11 0:00
11/27/11 0:00
11/26/11 0:00
12/4/11 0:00
12/2/11 0:00
12/3/11 0:00
12/11/11 0:00
12/10/11 0:00
12/9/11 0:00
12/18/11 0:00
12/17/11 0:00
12/26/11 0:00
12/27/11 0:00
8/5/11 0:00
8/7/11 0:00
8/6/11 0:00
1/15/12 0:00
1/14/12 0:00
1/21/12 0:00
1/20/12 0:00
1/22/12 0:00
1/25/12 0:00
1/24/12 0:00
1/26/12 0:00
1/28/12 0:00
1/29/12 0:00
2/5/12 0:00
2/4/12 0:00
2/12/12 0:00
2/11/12 0:00
2/19/12 0:00
2/18/12 0:00
2/26/12 0:00
2/25/12 0:00
3/4/12 0:00
3/3/12 0:00
3/18/12 0:00
8/13/11 0:00
8/14/11 0:00
3/21/12 0:00
8/21/11 0:00
8/20/11 0:00
8/19/11 0:00
8/28/11 0:00
8/27/11 0:00
9/11/11 0:00
9/10/11 0:00
9/9/11 0:00
9/18/11 0:00
9/17/11 0:00
9/24/11 0:00
9/25/11 0:00
10/2/11 0:00
10/1/11 0:00
7/28/12 0:00
7/29/12 0:00
10/7/12 0:00
10/5/12 0:00
10/6/12 0:00
10/19/12 0:00
10/20/12 0:00
10/21/12 0:00
10/28/12 0:00
10/26/12 0:00
10/27/12 0:00
10/30/12 0:00
10/31/12 0:00
11/4/12 0:00
11/3/12 0:00
11/11/12 0:00
11/10/12 0:00
11/9/12 0:00
11/18/12 0:00
11/17/12 0:00
11/25/12 0:00
11/23/12 0:00
11/24/12 0:00
12/1/12 0:00
12/2/12 0:00
12/7/12 0:00
12/9/12 0:00
12/8/12 0:00
8/4/12 0:00
8/5/12 0:00
8/3/12 0:00
12/15/12 0:00
12/16/12 0:00
12/23/12 0:00
12/22/12 0:00
12/21/12 0:00
12/26/12 0:00
12/27/12 0:00
2/27/13 0:00
1/19/13 0:00
2/28/13 0:00
1/27/13 0:00
1/25/13 0:00
1/26/13 0:00
2/20/13 0:00
2/3/13 0:00
2/2/13 0:00
2/9/13 0:00
2/10/13 0:00
2/15/13 0:00
2/17/13 0:00
2/16/13 0:00
2/24/13 0:00
2/23/13 0:00
3/3/13 0:00
3/9/13 0:00
8/10/12 0:00
8/12/12 0:00
8/11/12 0:00
3/16/13 0:00
8/18/12 0:00
8/19/12 0:00
8/26/12 0:00
8/25/12 0:00
9/2/12 0:00
9/1/12 0:00
9/15/12 0:00
9/16/12 0:00
9/14/12 0:00
9/23/12 0:00
9/21/12 0:00
9/22/12 0:00
9/29/12 0:00
9/30/12 0:00
3/29/14 0:00
4/5/14 0:00
4/12/14 0:00
4/19/14 0:00
4/26/14 0:00
5/3/14 0:00
7/25/14 0:00
7/26/14 0:00
7/27/14 0:00
10/5/14 0:00
10/4/14 0:00
10/3/14 0:00
10/19/14 0:00
10/18/14 0:00
10/26/14 0:00
10/25/14 0:00
10/24/14 0:00
10/28/14 0:00
10/29/14 0:00
10/30/14 0:00
11/1/14 0:00
11/2/14 0:00
10/31/14 0:00
11/9/14 0:00
11/7/14 0:00
11/8/14 0:00
11/22/14 0:00
11/23/14 0:00
11/30/14 0:00
11/28/14 0:00
11/29/14 0:00
12/7/14 0:00
12/6/14 0:00
12/5/14 0:00
12/14/14 0:00
12/13/14 0:00
12/12/14 0:00
8/3/14 0:00
8/2/14 0:00
8/1/14 0:00
12/21/14 0:00
12/20/14 0:00
12/26/14 0:00
12/27/14 0:00
2/3/15 0:00
1/16/15 0:00
1/18/15 0:00
1/17/15 0:00
1/25/15 0:00
1/23/15 0:00
1/24/15 0:00
1/30/15 0:00
2/1/15 0:00
1/31/15 0:00
2/6/15 0:00
2/8/15 0:00
2/7/15 0:00
2/15/15 0:00
2/14/15 0:00
2/13/15 0:00
2/20/15 0:00
2/22/15 0:00
2/21/15 0:00
3/1/15 0:00
2/27/15 0:00
2/28/15 0:00
3/7/15 0:00
8/10/14 0:00
8/8/14 0:00
8/9/14 0:00
3/15/15 0:00
8/15/14 0:00
8/17/14 0:00
8/16/14 0:00
8/24/14 0:00
8/23/14 0:00
8/22/14 0:00
8/31/14 0:00
8/29/14 0:00
8/30/14 0:00
9/13/14 0:00
9/14/14 0:00
9/21/14 0:00
9/20/14 0:00
9/19/14 0:00
9/28/14 0:00
9/27/14 0:00
7/24/15 0:00
7/25/15 0:00
7/26/15 0:00
10/4/15 0:00
10/2/15 0:00
10/3/15 0:00
10/18/15 0:00
10/17/15 0:00
10/16/15 0:00
10/25/15 0:00
10/24/15 0:00
10/23/15 0:00
10/28/15 0:00
10/27/15 0:00
10/29/15 0:00
11/1/15 0:00
10/30/15 0:00
10/31/15 0:00
11/8/15 0:00
11/7/15 0:00
11/6/15 0:00
11/21/15 0:00
11/22/15 0:00
11/20/15 0:00
12/22/15 0:00
12/23/15 0:00
11/29/15 0:00
11/28/15 0:00
11/27/15 0:00
12/6/15 0:00
12/4/15 0:00
12/5/15 0:00
12/13/15 0:00
12/12/15 0:00
12/11/15 0:00
7/31/15 0:00
8/1/15 0:00
8/2/15 0:00
12/20/15 0:00
12/19/15 0:00
12/18/15 0:00
12/27/15 0:00
12/26/15 0:00
1/16/16 0:00
1/17/16 0:00
1/15/16 0:00
1/24/16 0:00
1/23/16 0:00
1/22/16 0:00
1/31/16 0:00
1/30/16 0:00
1/29/16 0:00
2/7/16 0:00
2/5/16 0:00
2/6/16 0:00
2/13/16 0:00
2/12/16 0:00
2/14/16 0:00
2/19/16 0:00
2/20/16 0:00
2/21/16 0:00
2/28/16 0:00
2/26/16 0:00
2/27/16 0:00
3/5/16 0:00
3/4/16 0:00
8/7/15 0:00
8/8/15 0:00
8/9/15 0:00
3/13/16 0:00
8/14/15 0:00
8/15/15 0:00
8/16/15 0:00
8/23/15 0:00
8/22/15 0:00
8/21/15 0:00
8/30/15 0:00
8/28/15 0:00
8/29/15 0:00
9/13/15 0:00
9/12/15 0:00
9/11/15 0:00
9/20/15 0:00
9/18/15 0:00
9/19/15 0:00
9/27/15 0:00
9/26/15 0:00
9/25/15 0:00
10/28/08 0:00
11/3/08 0:00
11/24/08 0:00
12/1/08 0:00
12/8/08 0:00
1/14/09 0:00
12/22/08 0:00
12/26/08 0:00
8/25/08 0:00
12/29/08 0:00
12/28/08 0:00
12/30/08 0:00
1/11/09 0:00
1/10/09 0:00
3/11/09 0:00
1/19/09 0:00
1/27/09 0:00
1/28/09 0:00
2/23/09 0:00
4/22/09 0:00
3/4/09 0:00
3/3/09 0:00
3/16/09 0:00
4/21/09 0:00
5/13/09 0:00
4/27/09 0:00
5/4/09 0:00
5/10/09 0:00
5/11/09 0:00
5/17/09 0:00
5/18/09 0:00
5/24/09 0:00
9/15/08 0:00
10/20/08 0:00
11/9/09 0:00
12/16/09 0:00
12/15/09 0:00
1/5/10 0:00
11/25/09 0:00
12/20/09 0:00
2/17/10 0:00
1/20/10 0:00
8/18/09 0:00
11/4/09 0:00
8/19/09 0:00
3/24/10 0:00
12/28/09 0:00
3/16/10 0:00
3/23/10 0:00
1/11/10 0:00
3/9/10 0:00
1/9/10 0:00
1/26/10 0:00
2/16/10 0:00
1/27/10 0:00
2/1/10 0:00
2/10/10 0:00
2/9/10 0:00
2/23/10 0:00
4/21/10 0:00
3/8/10 0:00
5/5/10 0:00
8/24/09 0:00
3/13/10 0:00
3/15/10 0:00
3/20/10 0:00
3/28/10 0:00
3/29/10 0:00
3/27/10 0:00
4/3/10 0:00
4/4/10 0:00
4/10/10 0:00
4/11/10 0:00
4/14/10 0:00
4/13/10 0:00
4/18/10 0:00
4/17/10 0:00
4/19/10 0:00
4/25/10 0:00
4/24/10 0:00
5/3/10 0:00
5/1/10 0:00
5/2/10 0:00
5/9/10 0:00
10/5/09 0:00
10/19/09 0:00
8/16/10 0:00
11/1/10 0:00
11/9/10 0:00
11/10/10 0:00
11/22/10 0:00
12/6/10 0:00
1/25/11 0:00
12/13/10 0:00
1/26/11 0:00
12/20/10 0:00
2/22/11 0:00
3/1/11 0:00
12/27/10 0:00
3/9/11 0:00
1/12/11 0:00
8/23/10 0:00
12/28/10 0:00
1/1/11 0:00
1/2/11 0:00
1/4/11 0:00
1/5/11 0:00
1/16/11 0:00
1/15/11 0:00
1/24/11 0:00
2/1/11 0:00
2/14/11 0:00
4/20/11 0:00
2/28/11 0:00
3/7/11 0:00
4/2/11 0:00
4/3/11 0:00
4/9/11 0:00
4/11/11 0:00
4/10/11 0:00
4/16/11 0:00
4/17/11 0:00
4/19/11 0:00
5/10/11 0:00
4/27/11 0:00
4/26/11 0:00
4/23/11 0:00
4/25/11 0:00
4/24/11 0:00
5/1/11 0:00
4/30/11 0:00
5/8/11 0:00
5/7/11 0:00
5/9/11 0:00
5/15/11 0:00
5/14/11 0:00
5/17/11 0:00
5/22/11 0:00
9/13/10 0:00
10/18/10 0:00
8/15/11 0:00
1/11/12 0:00
10/31/11 0:00
11/21/11 0:00
12/5/11 0:00
12/12/11 0:00
12/21/11 0:00
12/22/11 0:00
12/20/11 0:00
12/31/11 0:00
12/30/11 0:00
1/1/12 0:00
8/22/11 0:00
1/2/12 0:00
1/4/12 0:00
1/3/12 0:00
1/16/12 0:00
2/1/12 0:00
1/31/12 0:00
2/6/12 0:00
3/13/12 0:00
3/12/12 0:00
3/10/12 0:00
3/11/12 0:00
4/24/12 0:00
3/20/12 0:00
3/17/12 0:00
3/24/12 0:00
3/26/12 0:00
3/25/12 0:00
3/31/12 0:00
4/2/12 0:00
4/1/12 0:00
4/8/12 0:00
4/7/12 0:00
4/6/12 0:00
4/9/12 0:00
4/10/12 0:00
4/11/12 0:00
4/16/12 0:00
5/2/12 0:00
5/1/12 0:00
4/15/12 0:00
4/14/12 0:00
4/21/12 0:00
4/22/12 0:00
4/29/12 0:00
4/28/12 0:00
4/30/12 0:00
5/5/12 0:00
5/6/12 0:00
5/7/12 0:00
5/8/12 0:00
5/13/12 0:00
9/12/11 0:00
9/26/11 0:00
8/20/12 0:00
11/5/12 0:00
11/19/12 0:00
11/27/12 0:00
11/28/12 0:00
12/3/12 0:00
12/10/12 0:00
1/16/13 0:00
12/17/12 0:00
1/23/13 0:00
12/11/12 0:00
12/29/12 0:00
12/30/12 0:00
1/2/13 0:00
1/1/13 0:00
1/13/13 0:00
1/12/13 0:00
1/20/13 0:00
1/21/13 0:00
1/30/13 0:00
1/29/13 0:00
2/11/13 0:00
2/25/13 0:00
3/4/13 0:00
3/2/13 0:00
4/16/13 0:00
4/17/13 0:00
3/10/13 0:00
8/22/12 0:00
3/17/13 0:00
3/30/13 0:00
3/31/13 0:00
4/1/13 0:00
4/7/13 0:00
4/8/13 0:00
4/6/13 0:00
4/13/13 0:00
5/8/13 0:00
5/7/13 0:00
4/14/13 0:00
4/20/13 0:00
4/21/13 0:00
4/22/13 0:00
4/28/13 0:00
4/29/13 0:00
4/27/13 0:00
5/4/13 0:00
5/5/13 0:00
5/6/13 0:00
5/14/13 0:00
5/11/13 0:00
5/12/13 0:00
5/19/13 0:00
9/17/12 0:00
10/1/12 0:00
8/17/13 0:00
8/18/13 0:00
8/19/13 0:00
11/2/13 0:00
11/3/13 0:00
11/9/13 0:00
11/10/13 0:00
11/23/13 0:00
11/24/13 0:00
11/25/13 0:00
11/30/13 0:00
12/1/13 0:00
12/4/13 0:00
12/3/13 0:00
12/8/13 0:00
12/7/13 0:00
12/9/13 0:00
12/15/13 0:00
12/14/13 0:00
12/23/13 0:00
12/21/13 0:00
12/22/13 0:00
12/26/13 0:00
12/28/13 0:00
12/29/13 0:00
8/24/13 0:00
8/25/13 0:00
8/26/13 0:00
1/1/14 0:00
1/13/14 0:00
1/11/14 0:00
1/12/14 0:00
1/18/14 0:00
1/19/14 0:00
1/20/14 0:00
1/29/14 0:00
1/28/14 0:00
2/2/14 0:00
2/1/14 0:00
2/3/14 0:00
2/8/14 0:00
2/9/14 0:00
2/12/14 0:00
2/11/14 0:00
4/16/14 0:00
2/22/14 0:00
2/23/14 0:00
3/2/14 0:00
3/1/14 0:00
3/25/14 0:00
5/7/14 0:00
3/8/14 0:00
3/26/14 0:00
9/1/13 0:00
8/31/13 0:00
8/21/13 0:00
3/15/14 0:00
3/16/14 0:00
3/23/14 0:00
3/22/14 0:00
3/30/14 0:00
3/31/14 0:00
4/6/14 0:00
4/7/14 0:00
4/15/14 0:00
4/13/14 0:00
5/6/14 0:00
4/20/14 0:00
4/21/14 0:00
4/28/14 0:00
4/27/14 0:00
5/4/14 0:00
5/5/14 0:00
5/11/14 0:00
9/14/13 0:00
9/15/13 0:00
9/16/13 0:00
9/22/13 0:00
9/21/13 0:00
9/28/13 0:00
9/30/13 0:00
9/29/13 0:00
10/5/13 0:00
10/6/13 0:00
10/19/13 0:00
10/20/13 0:00
10/21/13 0:00
10/26/13 0:00
10/27/13 0:00
8/18/14 0:00
11/3/14 0:00
11/24/14 0:00
12/3/14 0:00
12/2/14 0:00
12/8/14 0:00
12/15/14 0:00
12/22/14 0:00
12/28/14 0:00
12/29/14 0:00
8/25/14 0:00
1/1/15 0:00
1/11/15 0:00
1/10/15 0:00
1/19/15 0:00
2/10/15 0:00
2/11/15 0:00
4/29/15 0:00
3/3/15 0:00
3/4/15 0:00
3/14/15 0:00
3/16/15 0:00
3/21/15 0:00
3/22/15 0:00
4/4/15 0:00
4/5/15 0:00
4/6/15 0:00
4/11/15 0:00
4/13/15 0:00
4/12/15 0:00
5/20/15 0:00
4/7/15 0:00
4/18/15 0:00
4/28/15 0:00
4/19/15 0:00
4/26/15 0:00
4/25/15 0:00
5/2/15 0:00
5/3/15 0:00
5/4/15 0:00
5/11/15 0:00
5/9/15 0:00
5/10/15 0:00
5/16/15 0:00
5/17/15 0:00
5/18/15 0:00
5/24/15 0:00
9/15/14 0:00
9/29/14 0:00
10/20/14 0:00
10/27/14 0:00
8/10/15 0:00
11/2/15 0:00
11/23/15 0:00
12/7/15 0:00
12/14/15 0:00
12/21/15 0:00
12/28/15 0:00
12/29/15 0:00
12/30/15 0:00
8/17/15 0:00
1/2/16 0:00
1/3/16 0:00
1/12/16 0:00
1/13/16 0:00
1/18/16 0:00
2/2/16 0:00
2/3/16 0:00
4/20/16 0:00
4/19/16 0:00
3/2/16 0:00
3/1/16 0:00
3/6/16 0:00
8/24/15 0:00
4/21/16 0:00
3/12/16 0:00
3/14/16 0:00
5/11/16 0:00
3/19/16 0:00
3/20/16 0:00
4/2/16 0:00
4/3/16 0:00
4/9/16 0:00
4/10/16 0:00
4/17/16 0:00
4/16/16 0:00
4/18/16 0:00
4/23/16 0:00
4/13/16 0:00
4/24/16 0:00
4/25/16 0:00
5/10/16 0:00
4/30/16 0:00
5/2/16 0:00
5/1/16 0:00
5/7/16 0:00
5/8/16 0:00
5/15/16 0:00
5/17/16 0:00
9/14/15 0:00
9/28/15 0:00
10/19/15 0:00
8/9/08 0:00
8/10/08 0:00
12/10/08 0:00
2/17/09 0:00
4/29/09 0:00
5/12/09 0:00
5/23/09 0:00
5/30/09 0:00
11/20/09 0:00
12/10/09 0:00
12/2/09 0:00
4/7/10 0:00
1/13/10 0:00
12/23/09 0:00
12/22/09 0:00
1/19/10 0:00
4/28/10 0:00
5/12/10 0:00
4/30/10 0:00
4/27/10 0:00
5/8/10 0:00
5/15/10 0:00
12/1/10 0:00
11/2/10 0:00
11/30/10 0:00
1/19/11 0:00
12/22/10 0:00
12/21/10 0:00
8/17/10 0:00
2/18/11 0:00
3/13/11 0:00
3/11/11 0:00
5/11/11 0:00
5/18/11 0:00
5/16/11 0:00
5/21/11 0:00
5/29/11 0:00
2/22/12 0:00
3/6/12 0:00
3/9/12 0:00
4/18/12 0:00
5/10/12 0:00
4/27/12 0:00
5/3/12 0:00
5/20/12 0:00
9/21/11 0:00
9/20/11 0:00
11/7/12 0:00
11/2/12 0:00
11/16/12 0:00
11/30/12 0:00
12/12/12 0:00
12/13/12 0:00
12/14/12 0:00
8/17/12 0:00
1/11/13 0:00
1/18/13 0:00
2/1/13 0:00
2/8/13 0:00
2/22/13 0:00
3/1/13 0:00
3/8/13 0:00
3/15/13 0:00
8/24/12 0:00
3/29/13 0:00
4/5/13 0:00
4/12/13 0:00
4/19/13 0:00
4/24/13 0:00
4/26/13 0:00
5/3/13 0:00
5/10/13 0:00
5/18/13 0:00
5/26/13 0:00
9/28/12 0:00
8/11/13 0:00
8/10/13 0:00
8/9/13 0:00
10/18/13 0:00
10/25/13 0:00
11/1/13 0:00
11/8/13 0:00
11/22/13 0:00
11/29/13 0:00
12/5/13 0:00
12/6/13 0:00
1/8/14 0:00
12/13/13 0:00
12/20/13 0:00
8/16/13 0:00
1/10/14 0:00
1/17/14 0:00
1/25/14 0:00
1/26/14 0:00
1/24/14 0:00
1/31/14 0:00
2/7/14 0:00
2/25/14 0:00
2/15/14 0:00
2/16/14 0:00
2/14/14 0:00
2/21/14 0:00
2/28/14 0:00
3/7/14 0:00
3/9/14 0:00
3/14/14 0:00
8/23/13 0:00
3/21/14 0:00
3/28/14 0:00
4/4/14 0:00
4/11/14 0:00
4/23/14 0:00
4/18/14 0:00
4/25/14 0:00
5/2/14 0:00
5/10/14 0:00
5/17/14 0:00
9/13/13 0:00
9/20/13 0:00
9/25/13 0:00
9/24/13 0:00
9/26/13 0:00
10/4/13 0:00
10/17/14 0:00
1/7/15 0:00
11/21/14 0:00
12/4/14 0:00
12/19/14 0:00
1/9/15 0:00
3/8/15 0:00
3/6/15 0:00
3/13/15 0:00
3/20/15 0:00
4/3/15 0:00
4/10/15 0:00
4/15/15 0:00
4/17/15 0:00
4/24/15 0:00
5/1/15 0:00
5/8/15 0:00
5/23/15 0:00
9/12/14 0:00
9/24/14 0:00
9/23/14 0:00
9/25/14 0:00
12/1/15 0:00
12/2/15 0:00
12/3/15 0:00
1/9/16 0:00
1/10/16 0:00
1/8/16 0:00
2/4/16 0:00
3/9/16 0:00
3/11/16 0:00
3/18/16 0:00
4/1/16 0:00
4/8/16 0:00
4/15/16 0:00
4/27/16 0:00
4/22/16 0:00
4/29/16 0:00
5/14/16 0:00
9/22/15 0:00
9/23/15 0:00
9/29/15 0:00
9/24/15 0:00
11/4/15 0:00
8/15/08 0:00
11/21/08 0:00
1/30/09 0:00
8/22/08 0:00
2/13/09 0:00
4/3/09 0:00
10/22/08 0:00
10/17/08 0:00
10/30/09 0:00
12/18/09 0:00
1/22/10 0:00
2/5/10 0:00
2/12/10 0:00
3/12/10 0:00
3/19/10 0:00
3/26/10 0:00
4/9/10 0:00
4/16/10 0:00
4/23/10 0:00
9/25/09 0:00
10/2/09 0:00
11/12/10 0:00
1/14/11 0:00
8/27/10 0:00
2/25/11 0:00
3/18/11 0:00
4/1/11 0:00
4/8/11 0:00
4/15/11 0:00
4/21/11 0:00
4/29/11 0:00
9/24/10 0:00
10/21/11 0:00
10/28/11 0:00
12/13/11 0:00
12/16/11 0:00
1/27/12 0:00
2/3/12 0:00
2/10/12 0:00
2/17/12 0:00
2/24/12 0:00
3/16/12 0:00
3/23/12 0:00
3/30/12 0:00
4/13/12 0:00
4/20/12 0:00
8/26/11 0:00
9/16/11 0:00
9/23/11 0:00
9/30/11 0:00
10/14/11 0:00
8/31/12 0:00
9/25/12 0:00
9/26/12 0:00
4/17/14 0:00
8/27/13 0:00
9/27/13 0:00
12/16/14 0:00
12/17/14 0:00
2/4/15 0:00
9/26/14 0:00
11/13/08 0:00
2/2/09 0:00
5/20/09 0:00
5/31/09 0:00
10/28/09 0:00
10/29/09 0:00
1/6/10 0:00
1/10/10 0:00
3/25/10 0:00
5/16/10 0:00
9/24/09 0:00
8/30/10 0:00
11/11/10 0:00
12/8/10 0:00
1/6/11 0:00
1/9/11 0:00
2/3/11 0:00
5/2/11 0:00
9/23/10 0:00
10/25/10 0:00
11/29/11 0:00
1/8/12 0:00
1/7/12 0:00
2/8/12 0:00
2/2/12 0:00
2/21/12 0:00
2/15/12 0:00
2/9/12 0:00
2/13/12 0:00
3/19/12 0:00
4/12/12 0:00
4/25/12 0:00
9/22/11 0:00
10/26/11 0:00
10/25/11 0:00
10/27/11 0:00
11/1/12 0:00
11/26/12 0:00
1/5/13 0:00
1/6/13 0:00
2/18/13 0:00
2/26/13 0:00
4/3/13 0:00
4/15/13 0:00
9/27/12 0:00
10/29/13 0:00
10/30/13 0:00
10/31/13 0:00
11/4/13 0:00
12/2/13 0:00
12/16/13 0:00
1/6/14 0:00
1/5/14 0:00
4/2/14 0:00
2/17/14 0:00
2/24/14 0:00
3/17/14 0:00
3/27/14 0:00
4/14/14 0:00
5/18/14 0:00
12/1/14 0:00
12/18/14 0:00
1/6/15 0:00
1/5/15 0:00
1/26/15 0:00
2/9/15 0:00
2/24/15 0:00
2/23/15 0:00
4/8/15 0:00
3/2/15 0:00
3/9/15 0:00
4/20/15 0:00
4/30/15 0:00
5/6/15 0:00
5/25/15 0:00
5/31/15 0:00
5/30/15 0:00
11/30/15 0:00
1/20/16 0:00
1/6/16 0:00
1/5/16 0:00
2/11/16 0:00
2/22/16 0:00
2/29/16 0:00
4/4/16 0:00
4/11/16 0:00
12/27/08 0:00
9/12/08 0:00
2/3/09 0:00
2/4/09 0:00
2/5/09 0:00
10/30/08 0:00
3/31/10 0:00
9/30/09 0:00
10/26/10 0:00
10/27/10 0:00
11/24/10 0:00
12/15/10 0:00
12/14/10 0:00
4/22/11 0:00
12/7/11 0:00
8/2/13 0:00
8/3/13 0:00
8/4/13 0:00
2/4/14 0:00
2/5/14 0:00
2/6/14 0:00
8/30/13 0:00
10/2/13 0:00
2/5/15 0:00
8/11/15 0:00
8/12/15 0:00
1/26/16 0:00
1/27/16 0:00
1/28/16 0:00
8/8/08 0:00
11/11/08 0:00
11/12/08 0:00
4/9/09 0:00
10/16/09 0:00
3/5/10 0:00
4/1/10 0:00
4/20/10 0:00
4/26/10 0:00
5/7/10 0:00
5/6/10 0:00
5/11/10 0:00
8/14/09 0:00
9/11/09 0:00
11/19/10 0:00
3/8/11 0:00
8/13/10 0:00
5/6/11 0:00
5/13/11 0:00
5/20/11 0:00
5/25/11 0:00
11/23/11 0:00
8/1/11 0:00
10/17/11 0:00
10/24/11 0:00
11/7/11 0:00
11/28/11 0:00
2/20/12 0:00
2/27/12 0:00
8/8/11 0:00
3/2/12 0:00
3/28/12 0:00
4/4/12 0:00
4/5/12 0:00
4/23/12 0:00
8/12/11 0:00
8/29/11 0:00
9/19/11 0:00
10/3/11 0:00
11/12/12 0:00
3/11/13 0:00
3/18/13 0:00
8/27/12 0:00
3/28/13 0:00
5/13/13 0:00
5/17/13 0:00
5/20/13 0:00
5/25/13 0:00
5/23/13 0:00
5/24/13 0:00
5/27/13 0:00
5/30/13 0:00
9/3/12 0:00
6/2/13 0:00
9/24/12 0:00
10/8/12 0:00
10/22/12 0:00
10/29/12 0:00
7/21/13 0:00
7/22/13 0:00
7/20/13 0:00
7/19/13 0:00
10/7/13 0:00
10/24/13 0:00
10/28/13 0:00
11/5/13 0:00
11/11/13 0:00
11/28/13 0:00
7/29/13 0:00
7/28/13 0:00
7/27/13 0:00
7/26/13 0:00
3/3/14 0:00
3/10/14 0:00
3/24/14 0:00
8/5/13 0:00
8/12/13 0:00
9/2/13 0:00
9/19/13 0:00
9/23/13 0:00
7/20/14 0:00
7/19/14 0:00
7/21/14 0:00
7/18/14 0:00
7/28/14 0:00
2/16/15 0:00
8/4/14 0:00
8/11/14 0:00
9/22/14 0:00
7/18/15 0:00
7/17/15 0:00
7/19/15 0:00
7/20/15 0:00
10/26/15 0:00
12/16/15 0:00
7/27/15 0:00
2/15/16 0:00
3/8/16 0:00
3/7/16 0:00
8/3/15 0:00
9/21/15 0:00
1/4/09 0:00
1/5/09 0:00
1/3/09 0:00
1/2/09 0:00
1/23/09 0:00
2/9/09 0:00
2/16/09 0:00
9/1/08 0:00
3/2/09 0:00
3/9/09 0:00
4/6/09 0:00
4/13/09 0:00
4/20/09 0:00
9/22/08 0:00
10/6/08 0:00
10/7/08 0:00
10/27/08 0:00
11/17/08 0:00
12/17/08 0:00
8/17/09 0:00
11/30/09 0:00
12/7/09 0:00
12/14/09 0:00
12/21/09 0:00
1/8/10 0:00
2/8/10 0:00
2/15/10 0:00
2/22/10 0:00
3/2/10 0:00
4/2/10 0:00
4/5/10 0:00
4/12/10 0:00
8/31/09 0:00
9/21/09 0:00
10/12/09 0:00
10/27/09 0:00
10/26/09 0:00
11/8/10 0:00
11/29/10 0:00
12/7/10 0:00
1/8/11 0:00
1/7/11 0:00
2/21/11 0:00
3/14/11 0:00
3/27/11 0:00
3/21/11 0:00
4/4/11 0:00
4/18/11 0:00
9/20/10 0:00
9/27/10 0:00
10/4/10 0:00
12/19/11 0:00
1/9/12 0:00
1/6/12 0:00
1/13/12 0:00
1/23/12 0:00
1/30/12 0:00
9/4/11 0:00
3/5/12 0:00
9/6/11 0:00
5/12/12 0:00
11/1/11 0:00
1/14/13 0:00
1/28/13 0:00
2/5/13 0:00
12/19/13 0:00
2/10/14 0:00
11/10/14 0:00
1/3/15 0:00
1/2/15 0:00
1/4/15 0:00
3/23/15 0:00
9/1/14 0:00
4/27/15 0:00

In [6]:
match_df["date"] = pd.to_datetime(match_df["date"])

# Dupe check

In [7]:
match_df.groupby("match_id").size().value_counts()

1    25979
dtype: int64

# League check

In [8]:
# league and country 1-to-1

league_df

    league_id  country_id                      name
0           1           1    Belgium Jupiler League
1        1729        1729    England Premier League
2        4769        4769            France Ligue 1
3        7809        7809     Germany 1. Bundesliga
4       10257       10257             Italy Serie A
5       13274       13274    Netherlands Eredivisie
6       15722       15722        Poland Ekstraklasa
7       17642       17642  Portugal Liga ZON Sagres
8       19694       19694   Scotland Premier League
9       21518       21518           Spain LIGA BBVA
10      24558       24558  Switzerland Super League

In [9]:
#league 1, Belgium: missing 2013/2014 everything else correct

#Italy 2011/2012 missing a few matches and 2014/2015 missing one match (in last stage)

#league 17642, Portugal went from 240 matches to 306 startging 2014/2015
# -> went from 16 teams to 18 teams (https://en.wikipedia.org/wiki/Primeira_Liga)

#league 24558, Switzerland went from has 180 matches every season except 2011/2012 (has 162)
# team 7955 disqualified halfway through (https://en.wikipedia.org/wiki/201112_Swiss_Super_League)

count_season_league_match = match_df.groupby(["season", "league_id"])["match_id"].size().reset_index()
count_season_league_match = count_season_league_match.merge(league_df)
count_season_league_match
for l in count_season_league_match["league_id"].unique():
    print(count_season_league_match.loc[count_season_league_match["league_id"]==l,
                                        ["league_id", "name", "season", "match_id"]])
    print("----------------------------------------------------------")

   league_id                    name     season  match_id
0          1  Belgium Jupiler League  2008/2009       306
1          1  Belgium Jupiler League  2009/2010       210
2          1  Belgium Jupiler League  2010/2011       240
3          1  Belgium Jupiler League  2011/2012       240
4          1  Belgium Jupiler League  2012/2013       240
5          1  Belgium Jupiler League  2013/2014        12
6          1  Belgium Jupiler League  2014/2015       240
7          1  Belgium Jupiler League  2015/2016       240
----------------------------------------------------------
    league_id                    name     season  match_id
8        1729  England Premier League  2008/2009       380
9        1729  England Premier League  2009/2010       380
10       1729  England Premier League  2010/2011       380
11       1729  England Premier League  2011/2012       380
12       1729  England Premier League  2012/2013       380
13       1729  England Premier League  2013/2014       380
14       1729  England Premier League  2014/2015       380
15       1729  England Premier League  2015/2016       380
----------------------------------------------------------
    league_id            name     season  match_id
16       4769  France Ligue 1  2008/2009       380
17       4769  France Ligue 1  2009/2010       380
18       4769  France Ligue 1  2010/2011       380
19       4769  France Ligue 1  2011/2012       380
20       4769  France Ligue 1  2012/2013       380
21       4769  France Ligue 1  2013/2014       380
22       4769  France Ligue 1  2014/2015       380
23       4769  France Ligue 1  2015/2016       380
----------------------------------------------------------
    league_id                   name     season  match_id
24       7809  Germany 1. Bundesliga  2008/2009       306
25       7809  Germany 1. Bundesliga  2009/2010       306
26       7809  Germany 1. Bundesliga  2010/2011       306
27       7809  Germany 1. Bundesliga  2011/2012       306
28       7809  Germany 1. Bundesliga  2012/2013       306
29       7809  Germany 1. Bundesliga  2013/2014       306
30       7809  Germany 1. Bundesliga  2014/2015       306
31       7809  Germany 1. Bundesliga  2015/2016       306
----------------------------------------------------------
    league_id           name     season  match_id
32      10257  Italy Serie A  2008/2009       380
33      10257  Italy Serie A  2009/2010       380
34      10257  Italy Serie A  2010/2011       380
35      10257  Italy Serie A  2011/2012       358
36      10257  Italy Serie A  2012/2013       380
37      10257  Italy Serie A  2013/2014       380
38      10257  Italy Serie A  2014/2015       379
39      10257  Italy Serie A  2015/2016       380
----------------------------------------------------------
    league_id                    name     season  match_id
40      13274  Netherlands Eredivisie  2008/2009       306
41      13274  Netherlands Eredivisie  2009/2010       306
42      13274  Netherlands Eredivisie  2010/2011       306
43      13274  Netherlands Eredivisie  2011/2012       306
44      13274  Netherlands Eredivisie  2012/2013       306
45      13274  Netherlands Eredivisie  2013/2014       306
46      13274  Netherlands Eredivisie  2014/2015       306
47      13274  Netherlands Eredivisie  2015/2016       306
----------------------------------------------------------
    league_id                name     season  match_id
48      15722  Poland Ekstraklasa  2008/2009       240
49      15722  Poland Ekstraklasa  2009/2010       240
50      15722  Poland Ekstraklasa  2010/2011       240
51      15722  Poland Ekstraklasa  2011/2012       240
52      15722  Poland Ekstraklasa  2012/2013       240
53      15722  Poland Ekstraklasa  2013/2014       240
54      15722  Poland Ekstraklasa  2014/2015       240
55      15722  Poland Ekstraklasa  2015/2016       240
----------------------------------------------------------
    league_id                      name     season  match_id
56      17642  Portugal Liga ZON Sagres  2008/2009       240
57      17642  Portugal Liga ZON Sagres  2009/2010       240
58      17642  Portugal Liga ZON Sagres  2010/2011       240
59      17642  Portugal Liga ZON Sagres  2011/2012       240
60      17642  Portugal Liga ZON Sagres  2012/2013       240
61      17642  Portugal Liga ZON Sagres  2013/2014       240
62      17642  Portugal Liga ZON Sagres  2014/2015       306
63      17642  Portugal Liga ZON Sagres  2015/2016       306
----------------------------------------------------------
    league_id                     name     season  match_id
64      19694  Scotland Premier League  2008/2009       228
65      19694  Scotland Premier League  2009/2010       228
66      19694  Scotland Premier League  2010/2011       228
67      19694  Scotland Premier League  2011/2012       228
68      19694  Scotland Premier League  2012/2013       228
69      19694  Scotland Premier League  2013/2014       228
70      19694  Scotland Premier League  2014/2015       228
71      19694  Scotland Premier League  2015/2016       228
----------------------------------------------------------
    league_id             name     season  match_id
72      21518  Spain LIGA BBVA  2008/2009       380
73      21518  Spain LIGA BBVA  2009/2010       380
74      21518  Spain LIGA BBVA  2010/2011       380
75      21518  Spain LIGA BBVA  2011/2012       380
76      21518  Spain LIGA BBVA  2012/2013       380
77      21518  Spain LIGA BBVA  2013/2014       380
78      21518  Spain LIGA BBVA  2014/2015       380
79      21518  Spain LIGA BBVA  2015/2016       380
----------------------------------------------------------
    league_id                      name     season  match_id
80      24558  Switzerland Super League  2008/2009       180
81      24558  Switzerland Super League  2009/2010       180
82      24558  Switzerland Super League  2010/2011       180
83      24558  Switzerland Super League  2011/2012       162
84      24558  Switzerland Super League  2012/2013       180
85      24558  Switzerland Super League  2013/2014       180
86      24558  Switzerland Super League  2014/2015       180
87      24558  Switzerland Super League  2015/2016       180
----------------------------------------------------------

In [10]:
match_df.loc[(match_df["league_id"]==24558)].groupby("season")["home_team_id"].nunique()

season
2008/2009    10
2009/2010    10
2010/2011    10
2011/2012    10
2012/2013    10
2013/2014    10
2014/2015    10
2015/2016    10
Name: home_team_id, dtype: int64

In [11]:
team_df.loc[team_df["team_id"]==7955]

     team_id    team_long_name team_short_name
292     7955  Neuchtel Xamax             XAM

https://en.wikipedia.org/wiki/201112_Swiss_Super_League

Neuchtel Xamax's license was revoked with immediate effect and they were expelled from the Swiss Football League on 18 January 2012 after not providing necessary financial documents and guarantees. The first-half results of the club will be kept while any matches in spring involving Xamax were cancelled.

In [12]:
match_df.loc[(match_df["league_id"]==24558) & (match_df["season"]=="2011/2012")].groupby("home_team_id").size()

home_team_id
7730     17
7955      9
9777     17
9931     17
9956     17
10179    17
10191    17
10192    17
10199    17
10243    17
dtype: int64

In [13]:
match_df.loc[(match_df["league_id"]==17642)].groupby("season")["home_team_id"].nunique()

season
2008/2009    16
2009/2010    16
2010/2011    16
2011/2012    16
2012/2013    16
2013/2014    16
2014/2015    18
2015/2016    18
Name: home_team_id, dtype: int64

In [14]:
match_df.loc[(match_df["league_id"]==1)].groupby("season").agg({"match_id": ["min", "max"],
                                                                "date": ["min", "max", "size"]})

          match_id                date
               min      max        min        max size
season
2008/2009   492473   493114 2008-08-16 2009-05-16  306
2009/2010   665318   665775 2009-07-31 2010-03-21  210
2010/2011   838467   838876 2010-07-30 2011-03-23  240
2011/2012  1032692  1032932 2011-07-29 2012-03-21  240
2012/2013  1223976  1224222 2012-07-28 2013-03-16  240
2013/2014  1677179  1677190 2014-03-29 2014-05-03   12
2014/2015  1717817  1718056 2014-07-25 2015-03-15  240
2015/2016  1979832  1980072 2015-07-24 2016-03-13  240

In [15]:
belgium_teams = team_df.loc[team_df["team_id"].isin(set(match_df.loc[(match_df["league_id"]==1), "home_team_id"]))]

In [16]:
belgium_08_09 = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-2008-to-2009.csv")

belgium_09_10 = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-2009-to-2010.csv")

belgium_10_11 = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-2010-to-2011.csv")

len(belgium_08_09), len(belgium_09_10), len(belgium_10_11)

(306, 210, 240)

In [17]:
belgium_teams.sort_values("team_id")

    team_id        team_long_name team_short_name
21     1773   Oud-Heverlee Leuven             O-H
14     4049                Tubize             TUB
20     6351             KAS Eupen             EUP
8      7947         FCV Dender EH             DEN
10     8203           KV Mechelen             MEC
11     8342        Club Brugge KV             CLB
22     8475      Waasland-Beveren             WAA
13     8571           KV Kortrijk             KOR
23     8573           KV Oostende             OOS
5      8635        RSC Anderlecht             AND
4      9984     KSV Cercle Brugge             CEB
9      9985    Standard de Lige             STL
17     9986    Sporting Charleroi             CHA
0      9987              KRC Genk             GEN
19     9989             Lierse SK             LIE
6      9991              KAA Gent             GEN
1      9993          Beerschot AC             BAC
3      9994      Sporting Lokeren             LOK
15     9996  Royal Excel Mouscron             MOU
18     9997     Sint-Truidense VV             STT
7      9998             RAEC Mons             MON
12     9999         KSV Roeselare             ROS
2     10000      SV Zulte-Waregem             ZUL
16    10001          KVC Westerlo             WES
24   274581  Royal Excel Mouscron             MOP

In [18]:
belgium_mapping = {"Club Brugge": 8342, "Bergen": 9998, "Genk": 9987, "Kortrijk": 8571,
                   "Lierse": 9989, "Waasland-Beveren": 8475, "Anderlecht": 8635, "Mechelen": 8203,
                  "Cercle Brugge": 9984, "Charleroi": 9986, "Lokeren": 9994, "Oud-Heverlee Leuven": 1773, 
                  "Waregem": 10000, "Gent": 9991, "Oostende": 8573, "Standard": 9985, 
                  "Tubize": 4049, "Dender": 7947, "Roeselare": 9999, "Westerlo": 10001, "Mouscron": 9996,
                  "Germinal": 9993}

len(belgium_mapping)

22

In [19]:
belgium_13_14 = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-2013-to-2014.csv")

In [20]:
missing_teams = [t for t in set(list(belgium_13_14["HomeTeam"].unique()) + 
                                list(belgium_13_14["AwayTeam"].unique()))
                 if t not in set(belgium_teams["team_long_name"])]

for t in belgium_teams["team_long_name"].unique():
    if t not in belgium_mapping.keys():
        belgium_mapping[t] = belgium_teams.loc[belgium_teams["team_long_name"]==t, "team_id"].values[0]

In [21]:
len(belgium_mapping)

43

In [22]:
match_df.loc[((match_df["home_team_id"]==9998) | (match_df["away_team_id"]==9998)) & 
             (match_df["date"].isin(["2012-10-21", "2012-12-08"])),
             ["date", 'home_team_id', "away_team_id",
             'home_team_goal', 'away_team_goal']].sort_values("date")

#RAEC Mons = Bergen-> check again espn scores 
#(https://global.espn.com/soccer/team/stats/_/id/3613/league/BEL.1/season/2012/view/performance)

           date  home_team_id  away_team_id  home_team_goal  away_team_goal
1018 2012-10-21          9998          9985               3               1
1082 2012-12-08          9998          8635               0               5

In [23]:
belgium_13_14["home_team_id"] = belgium_13_14["HomeTeam"].map(belgium_mapping)
belgium_13_14["away_team_id"] = belgium_13_14["AwayTeam"].map(belgium_mapping)

belgium_13_14["date"] = pd.to_datetime(belgium_13_14["Date"], dayfirst=True) #d/m/y

In [24]:
belgium_13_14.isnull().sum()

Div             0
Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
FTAG            0
FTR             0
HTHG            0
HTAG            0
HTR             0
B365H           0
B365D           0
B365A           0
BWH             0
BWD             0
BWA             0
IWH             0
IWD             0
IWA             0
LBH             1
LBD             1
LBA             1
PSH             1
PSD             1
PSA             1
WHH             0
WHD             0
WHA             0
SJH             1
SJD             1
SJA             1
VCH             2
VCD             2
VCA             2
Bb1X2           0
BbMxH           0
BbAvH           0
BbMxD           0
BbAvD           0
BbMxA           0
BbAvA           0
BbOU            0
BbMx>2.5        0
BbAv>2.5        0
BbMx<2.5        0
BbAv<2.5        0
BbAH            8
BbAHh           8
BbMxAHH         8
BbAvAHH         8
BbMxAHA         8
BbAvAHA         8
PSCH            0
PSCD            0
PSCA            0
home_team_id    0
away_team_id    0
date            0
dtype: int64

In [25]:
# https://www.scorespro.com/soccer/livescore/cercle-brugge-vs-gent/08-03-2014/
# https://www.eurosport.com/football/pro-league/2013-2014/live-racing-genk-club-brugge_mtc616050/live.shtml
#FTHG = home goal, FTAG = away goal, HTR = H win, D, A win

belgium_13_14.sort_values("date").tail()[['date', 'HomeTeam', 'AwayTeam', 'FTHG',
                                         'FTAG', 'FTR', 'HTHG','HTAG', 'HTR']]

,date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
238,2014-03-16,Mechelen,Charleroi,0,3,A,0,1,A
233,2014-03-16,Bergen,Oud-Heverlee Leuven,3,2,H,2,1,H
232,2014-03-16,Anderlecht,Oostende,4,0,H,2,0,H
234,2014-03-16,Club Brugge,Cercle Brugge,2,0,H,0,0,D
239,2014-03-16,Waasland-Beveren,Standard,1,1,D,1,0,H

In [26]:
belgium_13_14['home_team_goal'] = belgium_13_14["FTHG"]
belgium_13_14['away_team_goal'] = belgium_13_14["FTAG"]
belgium_13_14["league_id"] = 1
belgium_13_14["country_id"] = 1
belgium_13_14["season"] = "2013/2014"

In [27]:
max_match_id = match_df["match_id"].max()

belgium_13_14["match_id"] = list(range(max_match_id+1, max_match_id+1+len(belgium_13_14), 1))

In [28]:
belgium_13_14 = belgium_13_14[[c for c in belgium_13_14.columns if c in match_df.columns]]

In [29]:
set(match_df.columns) - set(belgium_13_14.columns)

{'BSA',
 'BSD',
 'BSH',
 'GBA',
 'GBD',
 'GBH',
 'away_player_1',
 'away_player_10',
 'away_player_11',
 'away_player_2',
 'away_player_3',
 'away_player_4',
 'away_player_5',
 'away_player_6',
 'away_player_7',
 'away_player_8',
 'away_player_9',
 'home_player_1',
 'home_player_10',
 'home_player_11',
 'home_player_2',
 'home_player_3',
 'home_player_4',
 'home_player_5',
 'home_player_6',
 'home_player_7',
 'home_player_8',
 'home_player_9',
 'stage'}

In [30]:
match_df.loc[(match_df["league_id"]==1) & 
             (match_df["season"]=="2011/2012")].groupby("home_team_id")["stage"].nunique()

home_team_id
1773     15
8203     15
8342     15
8571     15
8635     15
9984     15
9985     15
9987     15
9989     15
9991     15
9993     15
9994     15
9997     15
9998     15
10000    15
10001    15
Name: stage, dtype: int64

In [31]:
temp = match_df.loc[(match_df["league_id"]==1) & (match_df["season"]=="2011/2012"),
                    ["date", "stage", "home_team_id", "away_team_id"]].sort_values("date")

for s in temp["stage"].unique():
    print(temp.loc[temp["stage"]==s])
    print("-------------------------------------------------------")

          date  stage  home_team_id  away_team_id
756 2011-07-29      1          1773          8635
757 2011-07-30      1          9998          9985
758 2011-07-30      1          9987          9993
759 2011-07-30      1          9991          9984
760 2011-07-30      1          9994         10000
761 2011-07-30      1          8571          9989
762 2011-07-30      1          8203          9997
763 2011-07-31      1          8342         10001
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
844 2011-08-05      2          8635          8203
846 2011-08-06      2          9993          9991
848 2011-08-06      2         10000          1773
849 2011-08-06      2          9989          9987
851 2011-08-06      2          9984          9998
847 2011-08-07      2          9997          8342
850 2011-08-07      2         10001          8571
845 2011-08-07      2          9985          9994
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
937 2011-08-13      3          8571          9984
939 2011-08-13      3          9998          9997
935 2011-08-13      3          9993         10001
933 2011-08-13      3          9987         10000
932 2011-08-13      3          8342          1773
934 2011-08-13      3          9991          9985
936 2011-08-14      3          9994          8635
938 2011-08-14      3          8203          9989
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
952 2011-08-19      4          9989          9993
949 2011-08-20      4          9997          9994
954 2011-08-20      4          9984          9987
951 2011-08-20      4          1773          8203
953 2011-08-20      4         10001          9991
955 2011-08-21      4          8635          9998
948 2011-08-21      4          9985          8571
950 2011-08-21      4         10000          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
957 2011-08-27      5          9987          8203
961 2011-08-27      5          8571          9997
962 2011-08-27      5          9998         10000
960 2011-08-27      5          9994          1773
963 2011-08-27      5         10001          9984
958 2011-08-27      5          9991          9989
956 2011-08-28      5          8342          8635
959 2011-08-28      5          9993          9985
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
966 2011-09-09      6          9997          9987
965 2011-09-10      6          9985         10001
968 2011-09-10      6          1773          9998
970 2011-09-10      6          9984          9993
971 2011-09-10      6          9989          9994
964 2011-09-11      6          8635          8571
967 2011-09-11      6         10000          9991
969 2011-09-11      6          8203          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
979 2011-09-17      7          9984          9989
977 2011-09-17      7          9998          8203
976 2011-09-17      7          8571          1773
978 2011-09-17      7         10001          9997
974 2011-09-17      7          9993         10000
973 2011-09-18      7          9991          8635
972 2011-09-18      7          9987          9985
975 2011-09-18      7          9994          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
980 2011-09-24      8          8342          9998
983 2011-09-24      8          9997          9991
984 2011-09-24      8         10000          8571
985 2011-09-24      8          1773          9987
986 2011-09-24      8          8203          9994
987 2011-09-24      8          9989         10001
981 2011-09-25      8          8635          9993
982 2011-09-25      8          9985          9984
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
993 2011-10-01      9          9998          9994
994 2011-10-01      9         10001         10000
990 2011-10-01      9          9991          1773
992 2011-10-01      9          8571          8203
995 2011-10-01      9          9984          9997
988 2011-10-02      9          9985          9989
989 2011-10-02      9          9987          8635
991 2011-10-02      9          9993          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
766 2011-10-15     10          9997          9993
769 2011-10-15     10          9994          9987
770 2011-10-15     10          8203          9984
771 2011-10-15     10          9998          8571
768 2011-10-15     10          1773         10001
767 2011-10-15     10         10000          9989
765 2011-10-16     10          8635          9985
764 2011-10-16     10          8342          9991
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
773 2011-10-22     11          9987          9998
774 2011-10-22     11          9991          9994
775 2011-10-22     11          9993          8203
777 2011-10-22     11          9989          9997
779 2011-10-22     11          9984          1773
772 2011-10-23     11          9985         10000
776 2011-10-23     11          8571          8342
778 2011-10-23     11         10001          8635
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
783 2011-10-29     12         10000          9984
780 2011-10-29     12          8342          9987
784 2011-10-29     12          1773          9993
785 2011-10-29     12          9994          8571
786 2011-10-29     12          8203         10001
787 2011-10-29     12          9998          9991
782 2011-10-30     12          9997          9985
781 2011-10-30     12          8635          9989
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
790 2011-11-04     13          9991          8203
789 2011-11-05     13          9987          8571
791 2011-11-05     13          9993          9998
792 2011-11-05     13         10000          9997
793 2011-11-05     13          9989          1773
794 2011-11-05     13         10001          9994
795 2011-11-06     13          9984          8635
788 2011-11-06     13          9985          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
799 2011-11-18     14          1773          9985
803 2011-11-19     14          9998          9989
802 2011-11-19     14          8203         10000
801 2011-11-19     14          8571          9991
798 2011-11-19     14          9987         10001
800 2011-11-19     14          9994          9993
797 2011-11-20     14          8635          9997
796 2011-11-20     14          8342          9984
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
804 2011-11-25     15          9985          8203
807 2011-11-26     15          9997          1773
808 2011-11-26     15         10000          8635
809 2011-11-26     15          9989          8342
810 2011-11-26     15         10001          9998
811 2011-11-26     15          9984          9994
806 2011-11-26     15          9993          8571
805 2011-11-27     15          9991          9987
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
814 2011-12-02     16          9993          9987
815 2011-12-03     16          9997          9998
819 2011-12-03     16          9984          8571
818 2011-12-03     16         10001          8342
817 2011-12-03     16          9989          8203
816 2011-12-03     16         10000          9994
813 2011-12-04     16          9985          9991
812 2011-12-04     16          8635          1773
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
825 2011-12-09     17          8203          8635
821 2011-12-10     17          9987          9989
826 2011-12-10     17          9998          9984
827 2011-12-10     17          9991          9993
823 2011-12-10     17          9994          9985
822 2011-12-10     17          1773         10000
824 2011-12-10     17          8571         10001
820 2011-12-11     17          8342          9997
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
833 2011-12-17     18          9989          8571
834 2011-12-17     18         10001          9993
831 2011-12-17     18         10000          9998
830 2011-12-17     18          9997          8203
835 2011-12-18     18          9984          9991
829 2011-12-18     18          9985          9987
828 2011-12-18     18          8635          9994
832 2011-12-18     18          1773          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
839 2011-12-26     19          9993          9989
836 2011-12-26     19          8342         10000
837 2011-12-26     19          9987          9984
838 2011-12-26     19          9991         10001
840 2011-12-26     19          9994          9997
842 2011-12-26     19          8203          1773
841 2011-12-26     19          8571          9985
843 2011-12-27     19          9998          8635
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
854 2012-01-14     20          9997          8571
859 2012-01-14     20          9984         10001
858 2012-01-14     20          9989          9991
857 2012-01-14     20          8203          9998
856 2012-01-14     20          1773          9994
853 2012-01-14     20          9985          9993
855 2012-01-15     20         10000          9987
852 2012-01-15     20          8635          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
861 2012-01-20     21          9987          9997
864 2012-01-21     21          9994          9989
865 2012-01-21     21          8571          8635
866 2012-01-21     21          9998          1773
860 2012-01-21     21          8342          8203
863 2012-01-21     21          9993          9984
862 2012-01-21     21          9991         10000
867 2012-01-22     21         10001          9985
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
869 2012-01-24     22          8635          9991
875 2012-01-25     22         10000          9993
868 2012-01-25     22          8342          9994
871 2012-01-25     22          9997         10001
872 2012-01-25     22          1773          8571
873 2012-01-25     22          8203          9987
874 2012-01-25     22          9989          9984
870 2012-01-26     22          9985          9998
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
878 2012-01-28     23          9993          8635
876 2012-01-28     23          9987          1773
877 2012-01-28     23          9991          9997
879 2012-01-28     23          9994          8203
880 2012-01-28     23          8571         10000
882 2012-01-28     23         10001          9989
881 2012-01-29     23          9998          8342
883 2012-01-29     23          9984          9985
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
890 2012-02-04     24          9989          9985
887 2012-02-04     24         10000         10001
889 2012-02-04     24          8203          8571
891 2012-02-04     24          1773          9991
888 2012-02-04     24          9994          9998
886 2012-02-04     24          9997          9984
885 2012-02-05     24          8635          9987
884 2012-02-05     24          8342          9993
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
893 2012-02-11     25          9987          9994
895 2012-02-11     25          9993          9997
896 2012-02-11     25          8571          9998
897 2012-02-11     25          9989         10000
898 2012-02-11     25         10001          1773
899 2012-02-11     25          9984          8203
892 2012-02-12     25          9985          8635
894 2012-02-12     25          9991          8342
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
904 2012-02-18     26          1773          9984
907 2012-02-18     26          9998          9987
906 2012-02-18     26          8203          9993
905 2012-02-18     26          9994          9991
902 2012-02-18     26          9997          9989
903 2012-02-19     26         10000          9985
901 2012-02-19     26          8635         10001
900 2012-02-19     26          8342          8571
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
910 2012-02-25     27          9993          1773
911 2012-02-25     27          8571          9994
913 2012-02-25     27         10001          8203
914 2012-02-25     27          9984         10000
915 2012-02-25     27          9991          9998
908 2012-02-26     27          9985          9997
909 2012-02-26     27          9987          8342
912 2012-02-26     27          9989          8635
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
919 2012-03-03     28          1773          9989
918 2012-03-03     28          9997         10000
922 2012-03-03     28          8203          9991
923 2012-03-03     28          9998          9993
921 2012-03-03     28          8571          9987
920 2012-03-03     28          9994         10001
917 2012-03-04     28          8635          9984
916 2012-03-04     28          8342          9985
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
931 2012-03-18     29          9984          8342
924 2012-03-18     29          9985          1773
928 2012-03-18     29         10000          8203
927 2012-03-18     29          9997          8635
930 2012-03-18     29         10001          9987
929 2012-03-18     29          9989          9998
926 2012-03-18     29          9993          9994
925 2012-03-18     29          9991          8571
-------------------------------------------------------
          date  stage  home_team_id  away_team_id
941 2012-03-21     30          8635         10000
942 2012-03-21     30          9987          9991
943 2012-03-21     30          1773          9997
944 2012-03-21     30          9994          9984
945 2012-03-21     30          8571          9993
946 2012-03-21     30          8203          9985
947 2012-03-21     30          9998         10001
940 2012-03-21     30          8342          9989
-------------------------------------------------------

In [32]:
temp.groupby("stage")["date"].max().diff().dt.days

stage
1      NaN
2      7.0
3      7.0
4      7.0
5      7.0
6     14.0
7      7.0
8      7.0
9      7.0
10    14.0
11     7.0
12     7.0
13     7.0
14    14.0
15     7.0
16     7.0
17     7.0
18     7.0
19     9.0
20    19.0
21     7.0
22     4.0
23     3.0
24     7.0
25     7.0
26     7.0
27     7.0
28     7.0
29    14.0
30     3.0
Name: date, dtype: float64

In [33]:
temp.groupby("stage").size()

stage
1     8
2     8
3     8
4     8
5     8
6     8
7     8
8     8
9     8
10    8
11    8
12    8
13    8
14    8
15    8
16    8
17    8
18    8
19    8
20    8
21    8
22    8
23    8
24    8
25    8
26    8
27    8
28    8
29    8
30    8
dtype: int64

In [34]:
temp.groupby("stage")["away_team_id"].nunique()

stage
1     8
2     8
3     8
4     8
5     8
6     8
7     8
8     8
9     8
10    8
11    8
12    8
13    8
14    8
15    8
16    8
17    8
18    8
19    8
20    8
21    8
22    8
23    8
24    8
25    8
26    8
27    8
28    8
29    8
30    8
Name: away_team_id, dtype: int64

In [35]:
belgium_13_14 = belgium_13_14.sort_values("date").reset_index(drop=True)
belgium_13_14["day_diff"] = belgium_13_14.date.diff().dt.days.replace(np.nan, 0)
s = 1
for i in range(0, len(belgium_13_14), 8):
    belgium_13_14.loc[belgium_13_14.index.isin(range(i,i+8)), "stage"] = s
    s += 1

In [36]:
temp2=(belgium_13_14[["home_team_id", "away_team_id", "date", "day_diff", "stage"]])


for s in temp2["stage"].unique():
    print(temp2.loc[temp2["stage"]==s])
    print("-------------------------------------------------------")

   home_team_id  away_team_id       date  day_diff  stage
0          8342          9986 2013-07-26       0.0    1.0
1          9998          9984 2013-07-27       1.0    1.0
2          9987          8573 2013-07-27       0.0    1.0
3          8571          1773 2013-07-27       0.0    1.0
4          9989         10000 2013-07-27       0.0    1.0
5          8475          9991 2013-07-27       0.0    1.0
6          8635          9994 2013-07-28       1.0    1.0
7          8203          9985 2013-07-28       0.0    1.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
8           9984          8635 2013-08-02       5.0    2.0
9           1773          9987 2013-08-03       1.0    2.0
10         10000          8571 2013-08-03       0.0    2.0
11          9986          8475 2013-08-03       0.0    2.0
12          9994          9998 2013-08-03       0.0    2.0
13          9991          8203 2013-08-04       1.0    2.0
14          8573          8342 2013-08-04       0.0    2.0
15          9985          9989 2013-08-04       0.0    2.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
16          8571          9994 2013-08-09       5.0    3.0
17          9998          9986 2013-08-10       1.0    3.0
18          9989          9984 2013-08-10       0.0    3.0
19          8573          1773 2013-08-10       0.0    3.0
20          8475          8203 2013-08-10       0.0    3.0
21          8635          9991 2013-08-11       1.0    3.0
22          8342         10000 2013-08-11       0.0    3.0
23          9987          9985 2013-08-11       0.0    3.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
24         10000          9998 2013-08-17       6.0    4.0
25          9994          9987 2013-08-17       0.0    4.0
26          8203          8342 2013-08-17       0.0    4.0
27          9986          8571 2013-08-17       0.0    4.0
28          9984          8573 2013-08-17       0.0    4.0
29          9991          9989 2013-08-17       0.0    4.0
30          9985          1773 2013-08-18       1.0    4.0
31          8475          8635 2013-08-18       0.0    4.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
32          8571          8203 2013-08-24       6.0    5.0
33          9989          8475 2013-08-24       0.0    5.0
34          1773          9994 2013-08-24       0.0    5.0
35          8635          9986 2013-08-25       1.0    5.0
36          9998          9985 2013-08-25       0.0    5.0
37          8342          9991 2013-08-25       0.0    5.0
38          9987          9984 2013-08-25       0.0    5.0
39          8573         10000 2013-08-25       0.0    5.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
40          8203          9989 2013-08-31       6.0    6.0
41          9994          8573 2013-08-31       0.0    6.0
42          9991          9998 2013-08-31       0.0    6.0
43          9984          1773 2013-08-31       0.0    6.0
44          9986          9987 2013-09-01       1.0    6.0
45          9985          8571 2013-09-01       0.0    6.0
46          8475          8342 2013-09-01       0.0    6.0
47         10000          8635 2013-09-01       0.0    6.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
48          8635          8203 2013-09-14      13.0    7.0
49          9998          8475 2013-09-14       0.0    7.0
50          8342          9989 2013-09-14       0.0    7.0
51          8571          9991 2013-09-14       0.0    7.0
52          9994          9984 2013-09-14       0.0    7.0
53          1773          9986 2013-09-14       0.0    7.0
54          8573          9985 2013-09-15       1.0    7.0
55          9987         10000 2013-09-15       0.0    7.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
56          8203          9998 2013-09-21       6.0    8.0
57          9989          8571 2013-09-21       0.0    8.0
58          9991          8573 2013-09-21       0.0    8.0
59          9986          9984 2013-09-21       0.0    8.0
60          8342          8635 2013-09-22       1.0    8.0
61          9985          9994 2013-09-22       0.0    8.0
62          8475          9987 2013-09-22       0.0    8.0
63         10000          1773 2013-09-22       0.0    8.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
64          9998          8342 2013-09-28       6.0    9.0
65          9987          8203 2013-09-28       0.0    9.0
66          8571          8475 2013-09-28       0.0    9.0
67          9994         10000 2013-09-28       0.0    9.0
68          8573          9986 2013-09-28       0.0    9.0
69          1773          9991 2013-09-28       0.0    9.0
70          9984          9985 2013-09-29       1.0    9.0
71          8635          9989 2013-09-29       0.0    9.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
72          9986          9994 2013-10-05       6.0   10.0
73          8342          1773 2013-10-05       0.0   10.0
74          9989          9998 2013-10-05       0.0   10.0
75          8203          9984 2013-10-05       0.0   10.0
76          8475          8573 2013-10-05       0.0   10.0
77          8635          8571 2013-10-06       1.0   10.0
78          9991          9987 2013-10-06       0.0   10.0
79         10000          9985 2013-10-06       0.0   10.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
80          9998          8635 2013-10-18      12.0   11.0
81          8573          8203 2013-10-19       1.0   11.0
82          9984         10000 2013-10-19       0.0   11.0
83          9987          9989 2013-10-19       0.0   11.0
84          9994          9991 2013-10-19       0.0   11.0
85          1773          8475 2013-10-19       0.0   11.0
86          9985          9986 2013-10-20       1.0   11.0
87          8571          8342 2013-10-20       0.0   11.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
88          9991          9984 2013-10-25       5.0   12.0
89          9998          8571 2013-10-26       1.0   12.0
90          9989          8573 2013-10-26       0.0   12.0
91          8203          1773 2013-10-26       0.0   12.0
92          8475          9994 2013-10-26       0.0   12.0
93          8635          9985 2013-10-27       1.0   12.0
94          8342          9987 2013-10-27       0.0   12.0
95         10000          9986 2013-10-27       0.0   12.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
96           1773          9998 2013-10-30       3.0   13.0
97          10000          9991 2013-10-30       0.0   13.0
98           8573          8635 2013-10-30       0.0   13.0
99           9987          8571 2013-10-30       0.0   13.0
100          9986          8203 2013-10-30       0.0   13.0
101          9994          9989 2013-10-30       0.0   13.0
102          9984          8342 2013-10-31       1.0   13.0
103          9985          8475 2013-10-31       0.0   13.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
104          8635          1773 2013-11-02       2.0   14.0
105          9998          9987 2013-11-02       0.0   14.0
106          8571          8573 2013-11-02       0.0   14.0
107          9989          9986 2013-11-02       0.0   14.0
108          8203         10000 2013-11-02       0.0   14.0
109          9991          9985 2013-11-03       1.0   14.0
110          8342          9994 2013-11-03       0.0   14.0
111          8475          9984 2013-11-03       0.0   14.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
112          9994          8203 2013-11-08       5.0   15.0
113          8573          9998 2013-11-09       1.0   15.0
114          1773          9989 2013-11-09       0.0   15.0
115          9984          8571 2013-11-09       0.0   15.0
116          9986          9991 2013-11-09       0.0   15.0
117          9985          8342 2013-11-10       1.0   15.0
118         10000          8475 2013-11-10       0.0   15.0
119          9987          8635 2013-11-10       0.0   15.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
120          9984          9989 2013-11-23      13.0   16.0
121          9986          8635 2013-11-23       0.0   16.0
122          9991          8475 2013-11-23       0.0   16.0
123          8573          9987 2013-11-23       0.0   16.0
124          1773          8571 2013-11-23       0.0   16.0
125         10000          8203 2013-11-23       0.0   16.0
126          9994          8342 2013-11-24       1.0   16.0
127          9985          9998 2013-11-24       0.0   16.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
128          9998          9994 2013-11-30       6.0   17.0
129          8342          8573 2013-11-30       0.0   17.0
130          8203          9991 2013-11-30       0.0   17.0
131          8475          9986 2013-11-30       0.0   17.0
132          9989          9985 2013-12-01       1.0   17.0
133          8571         10000 2013-12-01       0.0   17.0
134          8635          9984 2013-12-01       0.0   17.0
135          9987          1773 2013-12-01       0.0   17.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
136          8635          8475 2013-12-07       6.0   18.0
137          9998         10000 2013-12-07       0.0   18.0
138          8342          8203 2013-12-07       0.0   18.0
139          8571          9986 2013-12-07       0.0   18.0
140          9989          9991 2013-12-07       0.0   18.0
141          8573          9984 2013-12-07       0.0   18.0
142          9987          9994 2013-12-08       1.0   18.0
143          1773          9985 2013-12-08       0.0   18.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
144          9984          9998 2013-12-14       6.0   19.0
145          9994          8571 2013-12-14       0.0   19.0
146          8203          8475 2013-12-14       0.0   19.0
147          1773          8573 2013-12-14       0.0   19.0
148         10000          9989 2013-12-15       1.0   19.0
149          9985          9987 2013-12-15       0.0   19.0
150          9986          8342 2013-12-15       0.0   19.0
151          9991          8635 2013-12-15       0.0   19.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
152          9984          9987 2013-12-21       6.0   20.0
153          9986          9998 2013-12-21       0.0   20.0
154          9994          1773 2013-12-21       0.0   20.0
155          8203          8571 2013-12-21       0.0   20.0
156          8475          9989 2013-12-21       0.0   20.0
157         10000          8573 2013-12-21       0.0   20.0
158          9991          8342 2013-12-22       1.0   20.0
159          9985          8635 2013-12-22       0.0   20.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
160          9989          8203 2013-12-26       4.0   21.0
161          1773          9984 2013-12-26       0.0   21.0
162          8573          9994 2013-12-26       0.0   21.0
163          9987          9986 2013-12-26       0.0   21.0
164          8342          8475 2013-12-26       0.0   21.0
165          9998          9991 2013-12-26       0.0   21.0
166          8635         10000 2013-12-26       0.0   21.0
167          8571          9985 2013-12-27       1.0   21.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
168          9984          9994 2014-01-18      22.0   22.0
169          9986          1773 2014-01-18       0.0   22.0
170          9991          8571 2014-01-18       0.0   22.0
171          9989          8342 2014-01-18       0.0   22.0
172          9985          8573 2014-01-18       0.0   22.0
173          8475          9998 2014-01-18       0.0   22.0
174          8203          8635 2014-01-19       1.0   22.0
175         10000          9987 2014-01-19       0.0   22.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
176          9994          9985 2014-01-24       5.0   23.0
177          1773         10000 2014-01-25       1.0   23.0
178          8573          8475 2014-01-25       0.0   23.0
179          8571          9989 2014-01-25       0.0   23.0
180          9998          8203 2014-01-25       0.0   23.0
181          9984          9986 2014-01-25       0.0   23.0
182          8635          8342 2014-01-26       1.0   23.0
183          9987          9991 2014-01-26       0.0   23.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
184          9989          8635 2014-01-31       5.0   24.0
185          9986          8573 2014-02-01       1.0   24.0
186          8342          9998 2014-02-01       0.0   24.0
187          9991          1773 2014-02-01       0.0   24.0
188          8203          9987 2014-02-01       0.0   24.0
189          9985          9984 2014-02-01       0.0   24.0
190          8475          8571 2014-02-01       0.0   24.0
191         10000          9994 2014-02-02       1.0   24.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
192          1773          8203 2014-02-08       6.0   25.0
193          8573          9991 2014-02-08       0.0   25.0
194          9994          9986 2014-02-08       0.0   25.0
195          9998          9989 2014-02-08       0.0   25.0
196          9984          8475 2014-02-08       0.0   25.0
197          8571          8635 2014-02-08       0.0   25.0
198          9987          8342 2014-02-09       1.0   25.0

199          9985         10000 2014-02-09       0.0   25.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
200          8342          8571 2014-02-14       5.0   26.0
201          8475          1773 2014-02-15       1.0   26.0
202          9986          9985 2014-02-15       0.0   26.0
203          9989          9987 2014-02-15       0.0   26.0
204          8203          8573 2014-02-15       0.0   26.0
205         10000          9984 2014-02-15       0.0   26.0
206          9991          9994 2014-02-16       1.0   26.0
207          8635          9998 2014-02-16       0.0   26.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
208          9994          8635 2014-02-21       5.0   27.0
209          9984          8203 2014-02-22       1.0   27.0
210          9986         10000 2014-02-22       0.0   27.0
211          8571          9998 2014-02-22       0.0   27.0
212          8573          9989 2014-02-22       0.0   27.0
213          9987          8475 2014-02-23       1.0   27.0
214          1773          8342 2014-02-23       0.0   27.0
215          9985          9991 2014-02-23       0.0   27.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
216          8203          9994 2014-02-28       5.0   28.0
217          9989          1773 2014-03-01       1.0   28.0
218          8475         10000 2014-03-01       0.0   28.0
219          8571          9984 2014-03-01       0.0   28.0
220          9991          9986 2014-03-01       0.0   28.0
221          9998          8573 2014-03-01       0.0   28.0
222          8635          9987 2014-03-02       1.0   28.0
223          8342          9985 2014-03-02       0.0   28.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
224          9984          9991 2014-03-08       6.0   29.0
225          9986          9989 2014-03-08       0.0   29.0
226          9987          9998 2014-03-08       0.0   29.0
227          9994          8475 2014-03-08       0.0   29.0
228          8573          8571 2014-03-08       0.0   29.0
229          1773          8635 2014-03-08       0.0   29.0
230          9985          8203 2014-03-08       0.0   29.0
231         10000          8342 2014-03-08       0.0   29.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
232          8571          9987 2014-03-16       8.0   30.0
233          9989          9994 2014-03-16       0.0   30.0
234          9991         10000 2014-03-16       0.0   30.0
235          8203          9986 2014-03-16       0.0   30.0
236          9998          1773 2014-03-16       0.0   30.0
237          8635          8573 2014-03-16       0.0   30.0
238          8342          9984 2014-03-16       0.0   30.0
239          8475          9985 2014-03-16       0.0   30.0
-------------------------------------------------------

In [37]:
temp2.groupby("stage")["away_team_id"].nunique()

stage
1.0     8
2.0     8
3.0     8
4.0     8
5.0     8
6.0     8
7.0     8
8.0     8
9.0     8
10.0    8
11.0    8
12.0    8
13.0    8
14.0    8
15.0    8
16.0    8
17.0    8
18.0    8
19.0    8
20.0    8
21.0    8
22.0    8
23.0    8
24.0    8
25.0    8
26.0    8
27.0    8
28.0    8
29.0    8
30.0    8
Name: away_team_id, dtype: int64

In [38]:
og_belgium_13_14_to_merge_df = match_df.loc[(match_df["league_id"]==1) & (match_df["season"]=="2013/2014")]

In [39]:
og_belgium_13_14_to_merge_df = og_belgium_13_14_to_merge_df[["date", "home_team_id", "away_team_id"]+ 
                                                            [c for c in og_belgium_13_14_to_merge_df.columns if 
                                                             c not in belgium_13_14.columns]]
print(len(belgium_13_14))
belgium_13_14 = belgium_13_14.merge(og_belgium_13_14_to_merge_df, on=["date", "home_team_id", "away_team_id"],
                                   how="left")
print(len(belgium_13_14))

belgium_13_14 = belgium_13_14[[c for c in belgium_13_14.columns if c in match_df.columns]]

belgium_13_14 = belgium_13_14[match_df.columns]

240
240

In [40]:
belgium_13_14.isnull().sum().head(31)

country_id          0
league_id           0
season              0
stage               0
date                0
match_id            0
home_team_id        0
away_team_id        0
home_team_goal      0
away_team_goal      0
home_player_1     240
home_player_2     240
home_player_3     240
home_player_4     240
home_player_5     240
home_player_6     240
home_player_7     240
home_player_8     240
home_player_9     240
home_player_10    240
home_player_11    240
away_player_1     240
away_player_2     240
away_player_3     240
away_player_4     240
away_player_5     240
away_player_6     240
away_player_7     240
away_player_8     240
away_player_9     240
away_player_10    240
dtype: int64

In [41]:
belgium_13_14.isnull().sum().tail(31)

away_player_11    240
B365H               0
B365D               0
B365A               0
BWH                 0
BWD                 0
BWA                 0
IWH                 0
IWD                 0
IWA                 0
LBH                 1
LBD                 1
LBA                 1
PSH                 1
PSD                 1
PSA                 1
WHH                 0
WHD                 0
WHA                 0
SJH                 1
SJD                 1
SJA                 1
VCH                 2
VCD                 2
VCA                 2
GBH               240
GBD               240
GBA               240
BSH               240
BSD               240
BSA               240
dtype: int64

In [42]:
match_df = match_df.loc[~((match_df["league_id"]==1) & (match_df["season"]=="2013/2014"))]

In [43]:
print(match_df.shape)
match_df = pd.concat([match_df, belgium_13_14])
print(match_df.shape)

(25967, 62)
(26207, 62)

In [44]:
#Italy 2011/2012 and 2014/2015

italy_11_12_web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/italy-serie-a-2011-to-2012.csv")

In [45]:
print(len(italy_11_12_web_data))

380

In [46]:
italian_teams = team_df.loc[team_df["team_id"].isin(set(match_df.loc[(match_df["league_id"] == 10257), "home_team_id"]))]

In [47]:
missing_teams = [t for t in set(list(italy_11_12_web_data["HomeTeam"].unique()) + 
                                list(italy_11_12_web_data["AwayTeam"].unique()))
                 if t not in set(italian_teams["team_long_name"])]

missing_teams

['Chievo']

In [48]:
set(list(italy_11_12_web_data["HomeTeam"].unique()) + 
                                list(italy_11_12_web_data["AwayTeam"].unique()))

{'Atalanta',
 'Bologna',
 'Cagliari',
 'Catania',
 'Cesena',
 'Chievo',
 'Fiorentina',
 'Genoa',
 'Inter',
 'Juventus',
 'Lazio',
 'Lecce',
 'Milan',
 'Napoli',
 'Novara',
 'Palermo',
 'Parma',
 'Roma',
 'Siena',
 'Udinese'}

In [49]:
italian_mapping = {"Chievo": 8533, "Verona": 9876} 
#Chievo Verona first match: 2008-08-31
#'Hellas Verona' first match: 2013-08-24

In [50]:
for t in italian_teams["team_long_name"].unique():
    if t not in italian_mapping.keys():
        italian_mapping[t] = italian_teams.loc[italian_teams["team_long_name"]==t, "team_id"].values[0]

In [51]:
italy_11_12_web_data["home_team_id"] = italy_11_12_web_data["HomeTeam"].map(italian_mapping)
italy_11_12_web_data["away_team_id"] = italy_11_12_web_data["AwayTeam"].map(italian_mapping)

italy_11_12_web_data.isnull().sum().head(36)

Div         0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
B365H       0
B365D       0
B365A       0
BWH         0
BWD         0
BWA         0
GBH         0
GBD         0
GBA         0
IWH         2
IWD         2
IWA         2
LBH         0
LBD         0
dtype: int64

In [52]:
italy_11_12_web_data.isnull().sum().tail(36)

LBA             0
SBH             1
SBD             1
SBA             1
WHH             0
WHD             0
WHA             0
SJH             0
SJD             0
SJA             0
VCH             0
VCD             0
VCA             0
BSH             2
BSD             2
BSA             2
Bb1X2           0
BbMxH           0
BbAvH           0
BbMxD           0
BbAvD           0
BbMxA           0
BbAvA           0
BbOU            0
BbMx>2.5        0
BbAv>2.5        0
BbMx<2.5        0
BbAv<2.5        0
BbAH            0
BbAHh           0
BbMxAHH         0
BbAvAHH         0
BbMxAHA         0
BbAvAHA         0
home_team_id    0
away_team_id    0
dtype: int64

In [53]:
italy_11_12_web_data["date"] = pd.to_datetime(italy_11_12_web_data["Date"], dayfirst=True)

italy_11_12_web_data['home_team_goal'] = italy_11_12_web_data["FTHG"]
italy_11_12_web_data['away_team_goal'] = italy_11_12_web_data["FTAG"]
italy_11_12_web_data["league_id"] = 10257
italy_11_12_web_data["country_id"] = 10257

In [54]:
max_match_id = match_df["match_id"].max()

italy_11_12_web_data["match_id"] = list(range(max_match_id+1, max_match_id+1+len(italy_11_12_web_data), 1))

In [55]:
italy_11_12_web_data["season"] = "2011/2012"

italy_11_12_web_data = italy_11_12_web_data[[c for c in italy_11_12_web_data.columns if c in match_df.columns]]

temp = match_df.loc[(match_df["league_id"] == 10257) & (match_df["season"] == "2010/2011"),
                    ["date", "stage", "home_team_id", "away_team_id"]].sort_values("date")

temp["day_diff"] = temp["date"].diff().dt.days

for s in temp["stage"].unique():
    print(temp.loc[temp["stage"] == s])
    print("-------------------------------------------------------")

            date  stage  home_team_id  away_team_id  day_diff
11018 2010-08-28    1.0          8600         10233       NaN
11020 2010-08-28    1.0          8686          9880       0.0
11025 2010-08-29    1.0          8533          8530       1.0
11017 2010-08-29    1.0          9976          9885       0.0
11019 2010-08-29    1.0          9882          8543       0.0
11021 2010-08-29    1.0         10167          9858       0.0
11022 2010-08-29    1.0          8540          8529       0.0
11023 2010-08-29    1.0          8564          9888       0.0
11024 2010-08-29    1.0          8535          9875       0.0
11016 2010-08-30    1.0          9857          8636       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11130 2010-09-11    2.0          8636          8600      12.0
11132 2010-09-11    2.0          9880          8564       0.0
11134 2010-09-11    2.0          8529          8686       0.0
11128 2010-09-12    2.0          8543          9857       1.0
11129 2010-09-12    2.0          9885          9882       0.0
11131 2010-09-12    2.0         10233          8533       0.0
11133 2010-09-12    2.0          8530         10167       0.0
11135 2010-09-12    2.0          9858          8540       0.0
11127 2010-09-12    2.0          9888          8535       0.0
11126 2010-09-12    2.0          9875          9976       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11241 2010-09-18    3.0          8564          8530       6.0
11242 2010-09-18    3.0          8535          8543       0.0
11245 2010-09-19    3.0          9976          8529       1.0
11236 2010-09-19    3.0          8600          9885       0.0
11237 2010-09-19    3.0          9882          9875       0.0
11238 2010-09-19    3.0          8686          9857       0.0
11239 2010-09-19    3.0         10167         10233       0.0
11240 2010-09-19    3.0          8540          8636       0.0
11243 2010-09-19    3.0          8533          9858       0.0
11244 2010-09-19    3.0          9880          9888       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11343 2010-09-22    4.0          8529          9882       3.0
11342 2010-09-22    4.0          8530          9880       0.0
11341 2010-09-22    4.0         10233          8535       0.0
11340 2010-09-22    4.0          8636          9976       0.0
11345 2010-09-22    4.0          9857          8600       0.0
11338 2010-09-22    4.0          8543          8564       0.0
11337 2010-09-22    4.0          9888         10167       0.0
11336 2010-09-22    4.0          9875          8533       0.0
11344 2010-09-22    4.0          9858          8686       0.0
11339 2010-09-23    4.0          9885          8540       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11347 2010-09-25    5.0          8686          8636       2.0
11349 2010-09-25    5.0          8564         10233       0.0
11355 2010-09-26    5.0          9976          9858       1.0
11348 2010-09-26    5.0          8540          9888       0.0
11350 2010-09-26    5.0          9885          8529       0.0
11351 2010-09-26    5.0          8535         10167       0.0
11352 2010-09-26    5.0          8533          8543       0.0
11353 2010-09-26    5.0          9880          9875       0.0
11346 2010-09-26    5.0          9882          8600       0.0
11354 2010-09-26    5.0          8530          9857       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11359 2010-10-02    6.0          8600          9880       6.0
11358 2010-10-02    6.0         10167          8564       0.0
11357 2010-10-03    6.0          9875          8686       1.0
11356 2010-10-03    6.0          9888          8530       0.0
11360 2010-10-03    6.0          8543          9858       0.0
11361 2010-10-03    6.0          8636          9885       0.0
11362 2010-10-03    6.0         10233          9976       0.0
11363 2010-10-03    6.0          8535          8540       0.0
11364 2010-10-03    6.0          8533          8529       0.0
11365 2010-10-03    6.0          9857          9882       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11366 2010-10-16    7.0          8564          8533      13.0
11368 2010-10-16    7.0          8686         10233       0.0
11375 2010-10-17    7.0          9976          8543       1.0
11373 2010-10-17    7.0          8529          8636       0.0
11372 2010-10-17    7.0          8530          9875       0.0
11371 2010-10-17    7.0          9880         10167       0.0
11374 2010-10-17    7.0          9858          8600       0.0
11369 2010-10-17    7.0          9882          8535       0.0
11367 2010-10-17    7.0          8540          9857       0.0
11370 2010-10-17    7.0          9885          9888       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11384 2010-10-23    8.0          8535          9976       6.0
11381 2010-10-24    8.0          8543          8529       1.0
11380 2010-10-24    8.0          9888          9858       0.0
11379 2010-10-24    8.0          8533          9880       0.0
11382 2010-10-24    8.0          8636          9882       0.0
11377 2010-10-24    8.0         10167          8686       0.0
11385 2010-10-24    8.0          9857          9885       0.0
11378 2010-10-24    8.0          8600          8540       0.0
11383 2010-10-24    8.0         10233          8530       0.0
11376 2010-10-25    8.0          9875          8564       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11390 2010-10-29    9.0         10233          8636       4.0
11386 2010-10-30    9.0          8686          9888       1.0
11389 2010-10-30    9.0          8564          9885       0.0
11394 2010-10-31    9.0          9858          9875       1.0
11387 2010-10-31    9.0         10167          8533       0.0
11388 2010-10-31    9.0          8540          8543       0.0
11391 2010-10-31    9.0          9880          9882       0.0
11392 2010-10-31    9.0          8530          8535       0.0
11393 2010-10-31    9.0          8529          9857       0.0
11395 2010-10-31    9.0          9976          8600       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11032 2010-11-06   10.0          8636          9858       6.0
11034 2010-11-06   10.0          9857          9888       0.0
11035 2010-11-07   10.0          9976          8564       1.0
11033 2010-11-07   10.0          8535          8533       0.0
11027 2010-11-07   10.0          8540         10233       0.0
11031 2010-11-07   10.0          9885          9880       0.0
11026 2010-11-07   10.0          9875         10167       0.0
11028 2010-11-07   10.0          9882          8530       0.0
11030 2010-11-07   10.0          8543          8686       0.0
11029 2010-11-07   10.0          8600          8529       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11045 2010-11-10   11.0          9858          9885       3.0
11041 2010-11-10   11.0          8533          9976       0.0
11040 2010-11-10   11.0         10233          9857       0.0
11039 2010-11-10   11.0          8686          8535       0.0
11037 2010-11-10   11.0          9888          8636       0.0
11036 2010-11-10   11.0          8564          8540       0.0
11044 2010-11-10   11.0          8529          9875       0.0
11043 2010-11-10   11.0          8530          8600       0.0
11042 2010-11-10   11.0          9880          8543       0.0
11038 2010-11-11   11.0         10167          9882       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11048 2010-11-13   12.0          9885          8686       2.0
11050 2010-11-13   12.0          8535          9880       0.0
11047 2010-11-14   12.0          8543          9875       1.0
11051 2010-11-14   12.0          8529         10233       0.0
11049 2010-11-14   12.0          8636          8564       0.0
11052 2010-11-14   12.0          9857          9858       0.0
11055 2010-11-14   12.0          8600          9888       0.0
11054 2010-11-14   12.0          9882          8533       0.0
11046 2010-11-14   12.0          8540          8530       0.0
11053 2010-11-14   12.0          9976         10167       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11063 2010-11-20   13.0          8686          8600       6.0
11062 2010-11-20   13.0          8564          8535       0.0
11065 2010-11-21   13.0         10167          8543       1.0
11056 2010-11-21   13.0         10233          9885       0.0
11057 2010-11-21   13.0          9858          8529       0.0
11058 2010-11-21   13.0          8530          9976       0.0
11064 2010-11-21   13.0          9875          9857       0.0
11060 2010-11-21   13.0          8533          8636       0.0
11061 2010-11-21   13.0          9888          9882       0.0
11059 2010-11-21   13.0          9880          8540       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11069 2010-11-27   14.0          9882          8564       6.0
11074 2010-11-27   14.0          9885          8535       0.0
11071 2010-11-28   14.0          8540          8686       1.0
11070 2010-11-28   14.0          9858         10233       0.0
11068 2010-11-28   14.0          8600          9875       0.0
11066 2010-11-28   14.0          8636         10167       0.0
11073 2010-11-28   14.0          8543          8530       0.0
11075 2010-11-28   14.0          9976          9880       0.0
11072 2010-11-28   14.0          8529          9888       0.0
11067 2010-12-08   14.0          9857          8533       2.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11085 2010-12-03   15.0          8543          8636       5.0
11078 2010-12-04   15.0          8564          9858       1.0
11080 2010-12-04   15.0          8533          8686       0.0
11083 2010-12-05   15.0          9882          9976       1.0
11082 2010-12-05   15.0          8535          8529       0.0
11079 2010-12-05   15.0         10167          8600       0.0
11077 2010-12-05   15.0          9880          9857       0.0
11076 2010-12-05   15.0          8530          9885       0.0
11084 2010-12-05   15.0          9888         10233       0.0
11081 2010-12-06   15.0          9875          8540       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11089 2010-12-11   16.0          8600          8535       3.0
11094 2010-12-11   16.0          8540         10167       0.0
11093 2010-12-11   16.0         10233          9875       0.0
11091 2010-12-12   16.0          8529          8530       1.0
11095 2010-12-12   16.0          8686          9976       0.0
11086 2010-12-12   16.0          9857          8564       0.0
11087 2010-12-12   16.0          9885          8543       0.0
11088 2010-12-12   16.0          9858          9882       0.0
11090 2010-12-12   16.0          9888          8533       0.0
11092 2011-01-19   16.0          8636          9880       3.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11097 2010-12-18   17.0          9880          8529       6.0
11105 2010-12-18   17.0          8564          8686       0.0
11098 2010-12-19   17.0          9976          8540       1.0
11102 2010-12-19   17.0          8533          9885       0.0
11103 2010-12-19   17.0         10167          9857       0.0
11096 2010-12-19   17.0          8530          9858       0.0
11100 2010-12-19   17.0          8543          8600       0.0
11101 2010-12-19   17.0          9875          9888       0.0
11104 2011-02-16   17.0          9882         10233       3.0
11099 2011-02-16   17.0          8535          8636       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11106 2011-01-06   18.0         10233          8543      18.0
11115 2011-01-06   18.0          8600          8533       0.0
11107 2011-01-06   18.0          8540          9882       0.0
11108 2011-01-06   18.0          9888          9976       0.0
11109 2011-01-06   18.0          9885         10167       0.0
11110 2011-01-06   18.0          9858          9880       0.0
11111 2011-01-06   18.0          8636          9875       0.0
11112 2011-01-06   18.0          8529          8564       0.0
11113 2011-01-06   18.0          9857          8535       0.0
11114 2011-01-06   18.0          8686          8530       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11124 2011-01-09   19.0          8533          8540       3.0
11122 2011-01-09   19.0          8543          9888       0.0
11121 2011-01-09   19.0          8530          8636       0.0
11120 2011-01-09   19.0          9875          9885       0.0
11125 2011-01-09   19.0          8535          9858       0.0
11118 2011-01-09   19.0          9880         10233       0.0
11117 2011-01-09   19.0         10167          8529       0.0
11116 2011-01-09   19.0          9976          9857       0.0
11123 2011-01-09   19.0          8564          8600       0.0
11119 2011-01-09   19.0          9882          8686       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11140 2011-01-15   20.0          8636          9857       6.0
11138 2011-01-15   20.0          9875          8535       0.0
11141 2011-01-16   20.0          8543          9882       1.0
11142 2011-01-16   20.0          9880          8686       0.0
11143 2011-01-16   20.0          9888          8564       0.0
11144 2011-01-16   20.0          8529          8540       0.0
11145 2011-01-16   20.0          9858         10167       0.0
11137 2011-01-16   20.0          8530          8533       0.0
11139 2011-01-16   20.0         10233          8600       0.0
11136 2011-01-16   20.0          9885          9976       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11155 2011-01-22   21.0          8686          8529       3.0
11152 2011-01-22   21.0         10167          8530       0.0
11150 2011-01-22   21.0          8540          9858       0.0
11151 2011-01-23   21.0          9857          8543       1.0
11154 2011-01-23   21.0          9976          9875       0.0
11148 2011-01-23   21.0          8564          9880       0.0
11146 2011-01-23   21.0          8533         10233       0.0
11149 2011-01-23   21.0          9882          9885       0.0
11147 2011-01-23   21.0          8600          8636       0.0
11153 2011-01-23   21.0          8535          9888       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11161 2011-01-29   22.0          8530          8564       6.0
11163 2011-01-29   22.0          8543          8535       0.0
11158 2011-01-30   22.0          9885          8600       1.0
11156 2011-01-30   22.0          9875          9882       0.0
11164 2011-01-30   22.0          9888          9880       0.0
11165 2011-01-30   22.0          8529          9976       0.0
11160 2011-01-30   22.0          8636          8540       0.0
11159 2011-01-30   22.0         10233         10167       0.0
11162 2011-01-30   22.0          9858          8533       0.0
11157 2011-02-23   22.0          9857          8686       3.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11166 2011-02-01   23.0          8564          8543       2.0
11167 2011-02-02   23.0          8600          9857       1.0
11168 2011-02-02   23.0          8686          9858       0.0
11170 2011-02-02   23.0          9882          8529       0.0
11172 2011-02-02   23.0          9880          8530       0.0
11173 2011-02-02   23.0          8535         10233       0.0
11174 2011-02-02   23.0          8540          9885       0.0
11175 2011-02-02   23.0         10167          9888       0.0
11169 2011-02-02   23.0          8533          9875       0.0
11171 2011-02-03   23.0          9976          8636       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11176 2011-02-05   24.0          8529          9885       2.0
11177 2011-02-05   24.0          8600          9882       0.0
11184 2011-02-06   24.0          9875          9880       1.0
11183 2011-02-06   24.0          9888          8540       0.0
11185 2011-02-06   24.0          9858          9976       0.0
11178 2011-02-06   24.0         10167          8535       0.0
11179 2011-02-06   24.0          8636          8686       0.0
11180 2011-02-06   24.0          9857          8530       0.0
11182 2011-02-06   24.0         10233          8564       0.0
11181 2011-02-06   24.0          8543          8533       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11189 2011-02-12   25.0          8564         10167       6.0
11190 2011-02-12   25.0          8686          9875       0.0
11193 2011-02-13   25.0          9882          9857       1.0
11187 2011-02-13   25.0          9885          8636       0.0
11188 2011-02-13   25.0          8540          8535       0.0
11186 2011-02-13   25.0          9880          8600       0.0
11192 2011-02-13   25.0          9858          8543       0.0
11194 2011-02-13   25.0          9976         10233       0.0
11195 2011-02-13   25.0          8529          8533       0.0
11191 2011-02-13   25.0          8530          9888       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11197 2011-02-19   26.0          8636          8529       3.0
11202 2011-02-19   26.0          9857          8540       0.0
11205 2011-02-20   26.0         10167          9880       1.0
11196 2011-02-20   26.0          8600          9858       0.0
11198 2011-02-20   26.0          8543          9976       0.0
11199 2011-02-20   26.0          9875          8530       0.0
11200 2011-02-20   26.0          8535          9882       0.0
11201 2011-02-20   26.0         10233          8686       0.0
11203 2011-02-20   26.0          8533          8564       0.0
11204 2011-02-20   26.0          9888          9885       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11213 2011-02-26   27.0          9885          9857       3.0
11215 2011-02-27   27.0          8529          8543       1.0
11214 2011-02-27   27.0          8540          8600       0.0
11210 2011-02-27   27.0          9880          8533       0.0
11209 2011-02-27   27.0          9882          8636       0.0
11212 2011-02-27   27.0          9976          8535       0.0
11207 2011-02-27   27.0          8686         10167       0.0
11208 2011-02-27   27.0          9858          9888       0.0
11206 2011-02-27   27.0          8530         10233       0.0
11211 2011-02-28   27.0          8564          9875       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff

11259 2011-04-03   31.0          8686          9885       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11266 2011-04-09   32.0          8600          8686       6.0
11273 2011-04-09   32.0          8636          8533       0.0
11267 2011-04-10   32.0          9976          8530       1.0
11268 2011-04-10   32.0          8543         10167       0.0
11269 2011-04-10   32.0          9857          9875       0.0
11270 2011-04-10   32.0          8535          8564       0.0
11271 2011-04-10   32.0          9885         10233       0.0
11272 2011-04-10   32.0          9882          9888       0.0
11274 2011-04-10   32.0          8529          9858       0.0
11275 2011-04-10   32.0          8540          9880       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11279 2011-04-16   33.0         10167          8636       6.0
11285 2011-04-16   33.0          8564          9882       0.0
11282 2011-04-16   33.0          8686          8540       0.0
11278 2011-04-17   33.0         10233          9858       1.0
11284 2011-04-17   33.0          9880          9976       0.0
11277 2011-04-17   33.0          9888          8529       0.0
11281 2011-04-17   33.0          8533          9857       0.0
11280 2011-04-17   33.0          8530          8543       0.0
11276 2011-04-17   33.0          8535          9885       0.0
11283 2011-04-17   33.0          9875          8600       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11295 2011-04-23   34.0          9885          8530       6.0
11294 2011-04-23   34.0          8686          8533       0.0
11292 2011-04-23   34.0          9976          9882       0.0
11293 2011-04-23   34.0          8600         10167       0.0
11290 2011-04-23   34.0          8540          9875       0.0
11289 2011-04-23   34.0          8529          8535       0.0
11288 2011-04-23   34.0          9858          8564       0.0
11286 2011-04-23   34.0         10233          9888       0.0
11291 2011-04-23   34.0          9857          9880       0.0
11287 2011-04-23   34.0          8636          8543       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11297 2011-04-30   35.0          9875         10233       7.0
11304 2011-04-30   35.0          9880          8636       0.0
11300 2011-05-01   35.0          9882          9858       1.0
11296 2011-05-01   35.0          8530          8529       0.0
11298 2011-05-01   35.0          8564          9857       0.0
11299 2011-05-01   35.0         10167          8540       0.0
11301 2011-05-01   35.0          8535          8600       0.0
11305 2011-05-01   35.0          8533          9888       0.0
11302 2011-05-01   35.0          9976          8686       0.0
11303 2011-05-02   35.0          8543          9885       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11307 2011-05-07   36.0          8686          8564       5.0
11312 2011-05-07   36.0          8540          9976       0.0
11315 2011-05-08   36.0          8529          9880       1.0
11314 2011-05-08   36.0          9858          8530       0.0
11306 2011-05-08   36.0          8636          8535       0.0
11310 2011-05-08   36.0          9857         10167       0.0
11309 2011-05-08   36.0          9888          9875       0.0
11308 2011-05-08   36.0          8600          8543       0.0
11311 2011-05-08   36.0         10233          9882       0.0
11313 2011-05-09   36.0          9885          8533       1.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11318 2011-05-14   37.0          8543         10233       5.0
11320 2011-05-14   37.0          8564          8529       0.0
11317 2011-05-15   37.0          8533          8600       1.0
11319 2011-05-15   37.0          9875          8636       0.0
11321 2011-05-15   37.0          8530          8686       0.0
11322 2011-05-15   37.0          9880          9858       0.0
11323 2011-05-15   37.0          9882          8540       0.0
11324 2011-05-15   37.0         10167          9885       0.0
11325 2011-05-15   37.0          9976          9888       0.0
11316 2011-05-15   37.0          8535          9857       0.0
-------------------------------------------------------
            date  stage  home_team_id  away_team_id  day_diff
11330 2011-05-22   38.0          9885          9875       7.0
11326 2011-05-22   38.0          8686          9882       0.0
11327 2011-05-22   38.0          8529         10167       0.0
11335 2011-05-22   38.0         10233          9880       0.0
11334 2011-05-22   38.0          9858          8535       0.0
11333 2011-05-22   38.0          8540          8533       0.0
11332 2011-05-22   38.0          8600          8564       0.0
11328 2011-05-22   38.0          9888          8543       0.0
11329 2011-05-22   38.0          9857          9976       0.0
11331 2011-05-22   38.0          8636          8530       0.0
-------------------------------------------------------

In [56]:
temp.groupby("stage")["home_team_id"].nunique()

stage
1.0     10
2.0     10
3.0     10
4.0     10
5.0     10
6.0     10
7.0     10
8.0     10
9.0     10
10.0    10
11.0    10
12.0    10
13.0    10
14.0    10
15.0    10
16.0    10
17.0    10
18.0    10
19.0    10
20.0    10
21.0    10
22.0    10
23.0    10
24.0    10
25.0    10
26.0    10
27.0    10
28.0    10
29.0    10
30.0    10
31.0    10
32.0    10
33.0    10
34.0    10
35.0    10
36.0    10
37.0    10
38.0    10
Name: home_team_id, dtype: int64

In [57]:
italy_11_12_web_data = italy_11_12_web_data.sort_values("date").reset_index(drop=True)
italy_11_12_web_data["day_diff"] = italy_11_12_web_data.date.diff().dt.days.replace(np.nan, 0)
s = 1
for i in range(0, len(italy_11_12_web_data), 10):
    italy_11_12_web_data.loc[italy_11_12_web_data.index.isin(range(i, i + 10)), "stage"] = s
    s += 1

temp2 = (italy_11_12_web_data[["home_team_id", "away_team_id", "date", "day_diff", "stage"]])

for s in temp2["stage"].unique():
    print(temp2.loc[temp2["stage"] == s])
    print("-------------------------------------------------------")

   home_team_id  away_team_id       date  day_diff  stage
0          8564          8543 2011-09-09       0.0    1.0
1          9880          9875 2011-09-10       1.0    1.0
2          8530          8551 2011-09-11       1.0    1.0
3          8533          6269 2011-09-11       0.0    1.0
4          8535          9857 2011-09-11       0.0    1.0
5         10233          8524 2011-09-11       0.0    1.0
6          9885         10167 2011-09-11       0.0    1.0
7          9888          8600 2011-09-11       0.0    1.0
8          8540          8636 2011-09-11       0.0    1.0
9          8686          8529 2011-09-11       0.0    1.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
10          8529          6269 2011-09-17       6.0    2.0
11          8636          8686 2011-09-17       0.0    2.0
12          8600          8535 2011-09-18       1.0    2.0
13          8551          9885 2011-09-18       0.0    2.0
14         10167          8533 2011-09-18       0.0    2.0
15          9875          8564 2011-09-18       0.0    2.0
16          8524          8540 2011-09-18       0.0    2.0
17          8530          9880 2011-09-18       0.0    2.0
18          9857          9888 2011-09-18       0.0    2.0
19          8543         10233 2011-09-18       0.0    2.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
20          6269          8636 2011-09-20       2.0    3.0
21          9888          8524 2011-09-21       1.0    3.0
22          8540          8529 2011-09-21       0.0    3.0
23          8564          8600 2011-09-21       0.0    3.0
24          9885          9857 2011-09-21       0.0    3.0
25          8533          9875 2011-09-21       0.0    3.0
26          8535         10167 2011-09-21       0.0    3.0
27          9880          8543 2011-09-21       0.0    3.0
28         10233          8530 2011-09-21       0.0    3.0
29          8686          8551 2011-09-22       1.0    3.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
30          9857          8636 2011-09-24       2.0    4.0
31          8564          9880 2011-09-24       0.0    4.0
32          9875          8535 2011-09-24       0.0    4.0
33          8551          9888 2011-09-25       1.0    4.0
34         10167          8686 2011-09-25       0.0    4.0
35          8543          8540 2011-09-25       0.0    4.0
36          8530          9885 2011-09-25       0.0    4.0
37          8529          8600 2011-09-25       0.0    4.0
38          8524          6269 2011-09-25       0.0    4.0
39          8533         10233 2011-09-25       0.0    4.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
40          8636          9875 2011-10-01       6.0    5.0
41          8686          8524 2011-10-01       0.0    5.0
42         10167         10233 2011-10-02       1.0    5.0
43          8600          9857 2011-10-02       0.0    5.0
44          6269          8530 2011-10-02       0.0    5.0
45          8540          8551 2011-10-02       0.0    5.0
46          9885          8564 2011-10-02       0.0    5.0
47          9888          8529 2011-10-02       0.0    5.0
48          8535          8543 2011-10-02       0.0    5.0
49          9880          8533 2011-10-02       0.0    5.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
50          8530          8636 2011-10-15      13.0    6.0
51          8564          8540 2011-10-15       0.0    6.0
52          9875         10167 2011-10-15       0.0    6.0
53          6269          9857 2011-10-16       1.0    6.0
54          8543          8686 2011-10-16       0.0    6.0
55          8533          9885 2011-10-16       0.0    6.0
56         10233          9888 2011-10-16       0.0    6.0
57          8529          8551 2011-10-16       0.0    6.0
58          8524          8600 2011-10-16       0.0    6.0
59          9880          8535 2011-10-16       0.0    6.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
60          8535          8530 2011-10-22       6.0    7.0
61          9885         10233 2011-10-22       0.0    7.0
62          8551          9880 2011-10-23       1.0    7.0
63          9857          8543 2011-10-23       0.0    7.0
64          8529          9875 2011-10-23       0.0    7.0
65          8636          8533 2011-10-23       0.0    7.0
66          9888          8564 2011-10-23       0.0    7.0
67         10167          8524 2011-10-23       0.0    7.0
68          8686          8540 2011-10-23       0.0    7.0
69          8600          6269 2011-10-23       0.0    7.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
70          9885          8535 2011-10-25       2.0    8.0
71          8524          8636 2011-10-26       1.0    8.0
72          9880          8529 2011-10-26       0.0    8.0
73          8533          9857 2011-10-26       0.0    8.0
74         10233          8686 2011-10-26       0.0    8.0
75          8543          8530 2011-10-26       0.0    8.0
76          8564         10167 2011-10-26       0.0    8.0
77          9875          8600 2011-10-26       0.0    8.0
78          6269          8551 2011-10-26       0.0    8.0
79          8540          9888 2011-10-27       1.0    8.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
80          8636          9885 2011-10-29       2.0    9.0
81          8686          8564 2011-10-29       0.0    9.0
82          8530          9875 2011-10-29       0.0    9.0
83          9857          8524 2011-10-30       1.0    9.0
84          8529          8543 2011-10-30       0.0    9.0
85          8535         10233 2011-10-30       0.0    9.0
86          9888          6269 2011-10-30       0.0    9.0
87         10167          9880 2011-10-30       0.0    9.0
88          8551          8533 2011-10-30       0.0    9.0
89          8600          8540 2011-10-30       0.0    9.0
-------------------------------------------------------
    home_team_id  away_team_id       date  day_diff  stage
90          6269          8686 2011-11-05       6.0   10.0
91          8540          9857 2011-11-05       0.0   10.0
92          8564          8530 2011-11-06       1.0   10.0
93          8600          8551 2011-11-06       0.0   10.0
94          8543         10167 2011-11-06       0.0   10.0
95          8533          8535 2011-11-06       0.0   10.0
96          9880          9888 2011-11-06       0.0   10.0
97          8524          8529 2011-11-06       0.0   10.0
98          8535          8564 2011-11-19      13.0   10.0
99          8636          8529 2011-11-19       0.0   10.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
100          9875          8543 2011-11-19       0.0   11.0
101          8551          8524 2011-11-20       1.0   11.0
102         10167          8600 2011-11-20       0.0   11.0
103          9885          8540 2011-11-20       0.0   11.0
104          8686          9888 2011-11-20       0.0   11.0
105          8530          8533 2011-11-20       0.0   11.0
106          9857          9880 2011-11-20       0.0   11.0
107         10233          6269 2011-11-20       0.0   11.0
108          8600          8686 2011-11-25       5.0   11.0
109          8524          9875 2011-11-26       1.0   11.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
110          8543          9885 2011-11-26       0.0   12.0
111          9888          8530 2011-11-26       0.0   12.0
112          6269         10167 2011-11-26       0.0   12.0
113          8540          8535 2011-11-27       1.0   12.0
114          8529          9857 2011-11-27       0.0   12.0
115          9880         10233 2011-11-27       0.0   12.0
116          8564          8533 2011-11-27       0.0   12.0
117          8551          8636 2011-11-27       0.0   12.0
118          9875          9885 2011-11-29       2.0   12.0
119         10233          8564 2011-12-02       3.0   12.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
120          8636          8600 2011-12-03       1.0   13.0
121          9875          9888 2011-12-03       0.0   13.0
122          9857          8551 2011-12-04       1.0   13.0
123          8530          8529 2011-12-04       0.0   13.0
124          8533          8524 2011-12-04       0.0   13.0
125          8535          8686 2011-12-04       0.0   13.0
126          9885          9880 2011-12-04       0.0   13.0
127         10167          8540 2011-12-04       0.0   13.0
128          8543          6269 2011-12-05       1.0   13.0
129          8551         10233 2011-12-10       5.0   13.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
130          8540          9880 2011-12-10       0.0   14.0
131          8636          8535 2011-12-10       0.0   14.0
132          9888          8543 2011-12-10       0.0   14.0
133          8524          8530 2011-12-11       1.0   14.0
134          9857          8564 2011-12-11       0.0   14.0
135          8529         10167 2011-12-11       0.0   14.0
136          6269          9875 2011-12-11       0.0   14.0
137          8600          8533 2011-12-11       0.0   14.0
138          8686          9885 2011-12-12       1.0   14.0
139         10233          8636 2011-12-13       1.0   14.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
140          8535          8524 2011-12-17       4.0   15.0
141          8564          8551 2011-12-17       0.0   15.0
142          8533          8529 2011-12-17       0.0   15.0
143          8530          8540 2011-12-18       1.0   15.0
144          9880          8636 2011-12-18       0.0   15.0
145         10233          9857 2011-12-18       0.0   15.0
146          9885          6269 2011-12-18       0.0   15.0
147          8543          8600 2011-12-18       0.0   15.0
148          9875          8686 2011-12-18       0.0   15.0
149         10167          9888 2011-12-18       0.0   15.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
150          8529          8564 2011-12-20       2.0   16.0
151          8551          8535 2011-12-20       0.0   16.0
152          8600          9885 2011-12-21       1.0   16.0
153         10167          8530 2011-12-21       0.0   16.0
154          6269          8540 2011-12-21       0.0   16.0
155          9875         10233 2011-12-21       0.0   16.0
156          9857          8686 2011-12-21       0.0   16.0
157          8636          9888 2011-12-21       0.0   16.0
158          8524          9880 2011-12-21       0.0   16.0
159          8543          8533 2011-12-21       0.0   16.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
160          8636         10167 2012-01-07      17.0   17.0
161          8551          8543 2012-01-07       0.0   17.0
162          8540          9875 2012-01-08       1.0   17.0
163          8600          9880 2012-01-08       0.0   17.0
164          8686          8533 2012-01-08       0.0   17.0
165          9888          9885 2012-01-08       0.0   17.0
166          8524          8564 2012-01-08       0.0   17.0
167          8529         10233 2012-01-08       0.0   17.0
168          9857          8530 2012-01-08       0.0   17.0
169          6269          8535 2012-01-08       0.0   17.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
170         10167          8551 2012-01-15       7.0   18.0
171          8564          8636 2012-01-15       0.0   18.0
172          9885          8529 2012-01-15       0.0   18.0
173          8543          8524 2012-01-15       0.0   18.0
174          8535          9888 2012-01-15       0.0   18.0
175          8533          8540 2012-01-15       0.0   18.0
176          9880          6269 2012-01-15       0.0   18.0
177         10233          8600 2012-01-15       0.0   18.0
178          9875          9857 2012-01-16       1.0   18.0
179          8524          9885 2012-01-21       5.0   18.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
180          8686          9880 2012-01-21       0.0   19.0
181          8540         10233 2012-01-22       1.0   19.0
182          8551          9875 2012-01-22       0.0   19.0
183          6269          8564 2012-01-22       0.0   19.0
184          8600          8530 2012-01-22       0.0   19.0
185          8636          8543 2012-01-22       0.0   19.0
186          8529          8535 2012-01-22       0.0   19.0
187          9857         10167 2012-01-22       0.0   19.0
188          9888          8533 2012-01-22       0.0   19.0
189          9885          8600 2012-01-28       6.0   19.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
190          8530         10167 2012-01-28       0.0   20.0
191          9880          8524 2012-01-29       1.0   20.0
192          8533          8543 2012-01-29       0.0   20.0
193          8535          8551 2012-01-29       0.0   20.0
194         10233          9875 2012-01-29       0.0   20.0
195          9888          8636 2012-01-29       0.0   20.0
196          8564          8529 2012-01-29       0.0   20.0
197          8540          6269 2012-01-29       0.0   20.0
198          8686          9857 2012-01-29       0.0   20.0
199          8600          9888 2012-02-01       3.0   20.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
200          9875          9880 2012-02-01       0.0   21.0
201          8529          8686 2012-02-01       0.0   21.0
202          8636          8540 2012-02-01       0.0   21.0
203          8543          8564 2012-02-01       0.0   21.0
204          6269          8533 2012-02-02       1.0   21.0
205          8686          8636 2012-02-04       2.0   21.0
206          8564          9875 2012-02-05       1.0   21.0
207          6269          8529 2012-02-05       0.0   21.0
208          9888          9857 2012-02-05       0.0   21.0
209          8540          8524 2012-02-05       0.0   21.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
210         10233          8543 2012-02-05       0.0   22.0
211          8535          8600 2012-02-05       0.0   22.0
212          8533         10167 2012-02-05       0.0   22.0
213          9885          8551 2012-02-05       0.0   22.0
214          8530          8686 2012-02-08       3.0   22.0
215          8543          9880 2012-02-09       1.0   22.0
216          8529          8540 2012-02-11       2.0   22.0
217          8600          8564 2012-02-11       0.0   22.0
218          8524          9888 2012-02-12       1.0   22.0
219          8530         10233 2012-02-12       0.0   22.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
220          8636          6269 2012-02-12       0.0   23.0
221          9875          8533 2012-02-13       1.0   23.0
222          8551          8686 2012-02-13       0.0   23.0
223         10167          9885 2012-02-15       2.0   23.0
224          8524         10233 2012-02-15       0.0   23.0
225          8535          9875 2012-02-17       2.0   23.0
226          8636          9857 2012-02-17       0.0   23.0
227          9885          8530 2012-02-18       1.0   23.0
228          9880          8564 2012-02-19       1.0   23.0
229         10233          8533 2012-02-19       0.0   23.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
230          9888          8551 2012-02-19       0.0   24.0
231          6269          8524 2012-02-19       0.0   24.0
232          8540          8543 2012-02-19       0.0   24.0
233          8686         10167 2012-02-19       0.0   24.0
234          8600          8529 2012-02-19       0.0   24.0
235          9857          8535 2012-02-21       2.0   24.0
236          8551          8530 2012-02-22       1.0   24.0
237          8564          9885 2012-02-25       3.0   24.0
238         10233         10167 2012-02-25       0.0   24.0
239          8524          8686 2012-02-26       1.0   24.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
240          9857          8600 2012-02-26       0.0   25.0
241          8529          9888 2012-02-26       0.0   25.0
242          8530          6269 2012-02-26       0.0   25.0
243          8533          9880 2012-02-26       0.0   25.0
244          8543          8535 2012-02-26       0.0   25.0
245          9875          8636 2012-02-26       0.0   25.0
246          8551          8540 2012-02-26       0.0   25.0
247          9885          8533 2012-03-03       6.0   25.0
248          8540          8564 2012-03-03       0.0   25.0
249          8600          8524 2012-03-04       1.0   25.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
250          8551          8529 2012-03-04       0.0   26.0
251          8686          8543 2012-03-04       0.0   26.0
252         10167          9875 2012-03-04       0.0   26.0
253          9857          6269 2012-03-04       0.0   26.0
254          8636          8530 2012-03-04       0.0   26.0
255          8535          9880 2012-03-04       0.0   26.0
256          9888         10233 2012-03-04       0.0   26.0
257         10167          8535 2012-03-07       3.0   26.0
258          9857          9885 2012-03-07       0.0   26.0
259          9880          8530 2012-03-07       0.0   26.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
260          9875          8529 2012-03-09       2.0   27.0
261          8533          8636 2012-03-09       0.0   27.0
262          8540          8686 2012-03-10       1.0   27.0
263          8524         10167 2012-03-11       1.0   27.0
264          8530          8535 2012-03-11       0.0   27.0
265          9880          8551 2012-03-11       0.0   27.0
266         10233          9885 2012-03-11       0.0   27.0
267          8543          9857 2012-03-11       0.0   27.0
268          8564          9888 2012-03-11       0.0   27.0
269          6269          8600 2012-03-11       0.0   27.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
270          8535          9885 2012-03-17       6.0   28.0
271         10167          8564 2012-03-17       0.0   28.0
272          8600          9875 2012-03-18       1.0   28.0
273          8551          6269 2012-03-18       0.0   28.0
274          9888          8540 2012-03-18       0.0   28.0
275          9857          8533 2012-03-18       0.0   28.0
276          8530          8543 2012-03-18       0.0   28.0
277          8529          9880 2012-03-18       0.0   28.0
278          8636          8524 2012-03-18       0.0   28.0
279          8686         10233 2012-03-19       1.0   28.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage

329         10233          8551 2012-04-22       0.0   33.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
330          8524          8533 2012-04-24       2.0   34.0
331          8529          8530 2012-04-24       0.0   34.0
332          8686          8535 2012-04-25       1.0   34.0
333          8600          8636 2012-04-25       0.0   34.0
334          8551          9857 2012-04-25       0.0   34.0
335          8540         10167 2012-04-25       0.0   34.0
336          9888          9875 2012-04-25       0.0   34.0
337          8564         10233 2012-04-25       0.0   34.0
338          6269          8543 2012-04-25       0.0   34.0
339          9880          9885 2012-04-25       0.0   34.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
340          8529          8533 2012-04-28       3.0   35.0
341          8540          8530 2012-04-28       0.0   35.0
342          8686          9875 2012-04-28       0.0   35.0
343          8600          8543 2012-04-29       1.0   35.0
344          8551          8564 2012-04-29       0.0   35.0
345          6269          9885 2012-04-29       0.0   35.0
346          8636          9880 2012-04-29       0.0   35.0
347          9857         10233 2012-04-29       0.0   35.0
348          8524          8535 2012-04-29       0.0   35.0
349          9888         10167 2012-04-29       0.0   35.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
350          8533          8686 2012-05-01       2.0   36.0
351          9875          8540 2012-05-01       0.0   36.0
352          8543          8551 2012-05-02       1.0   36.0
353         10167          8636 2012-05-02       0.0   36.0
354          9885          9888 2012-05-02       0.0   36.0
355          8564          8524 2012-05-02       0.0   36.0
356          8535          6269 2012-05-02       0.0   36.0
357          9880          8600 2012-05-02       0.0   36.0
358          8530          9857 2012-05-02       0.0   36.0
359         10233          8529 2012-05-02       0.0   36.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
360          9888          8535 2012-05-05       3.0   37.0
361          8686          8530 2012-05-05       0.0   37.0
362          8600         10233 2012-05-06       1.0   37.0
363          8551         10167 2012-05-06       0.0   37.0
364          6269          9880 2012-05-06       0.0   37.0
365          8540          8533 2012-05-06       0.0   37.0
366          8529          9885 2012-05-06       0.0   37.0
367          9857          9875 2012-05-06       0.0   37.0
368          8524          8543 2012-05-06       0.0   37.0
369          8636          8564 2012-05-06       0.0   37.0
-------------------------------------------------------
     home_team_id  away_team_id       date  day_diff  stage
370          9875          8551 2012-05-13       7.0   38.0
371          8530          8600 2012-05-13       0.0   38.0
372          9880          8686 2012-05-13       0.0   38.0
373          8533          9888 2012-05-13       0.0   38.0
374          8535          8529 2012-05-13       0.0   38.0
375         10233          8540 2012-05-13       0.0   38.0
376          9885          8524 2012-05-13       0.0   38.0
377          8543          8636 2012-05-13       0.0   38.0
378          8564          6269 2012-05-13       0.0   38.0
379         10167          9857 2012-05-13       0.0   38.0
-------------------------------------------------------

In [58]:
temp2.groupby("stage")["home_team_id"].nunique()

stage
1.0     10
2.0     10
3.0     10
4.0     10
5.0     10
6.0     10
7.0     10
8.0     10
9.0     10
10.0    10
11.0    10
12.0    10
13.0    10
14.0    10
15.0    10
16.0    10
17.0    10
18.0    10
19.0    10
20.0    10
21.0     9
22.0     9
23.0     9
24.0    10
25.0    10
26.0     8
27.0    10
28.0    10
29.0    10
30.0    10
31.0    10
32.0    10
33.0    10
34.0    10
35.0    10
36.0    10
37.0    10
38.0    10
Name: home_team_id, dtype: int64

In [59]:
temp2.groupby("stage")["away_team_id"].nunique()

stage
1.0     10
2.0     10
3.0     10
4.0     10
5.0     10
6.0     10
7.0     10
8.0     10
9.0     10
10.0     9
11.0    10
12.0     9
13.0    10
14.0    10
15.0    10
16.0    10
17.0    10
18.0    10
19.0    10
20.0    10
21.0    10
22.0    10
23.0     9
24.0     9
25.0    10
26.0     9
27.0    10
28.0    10
29.0    10
30.0    10
31.0    10
32.0    10
33.0    10
34.0    10
35.0    10
36.0    10
37.0    10
38.0    10
Name: away_team_id, dtype: int64

In [60]:
og_italy_11_12_to_merge_df = match_df.loc[(match_df["league_id"]==10257) & (match_df["season"]=="2011/2012")]

og_italy_11_12_to_merge_df = og_italy_11_12_to_merge_df[["date", "home_team_id", "away_team_id"]+ 
                                                        [c for c in og_italy_11_12_to_merge_df.columns if 
                                                         c not in italy_11_12_web_data.columns]]

og_italy_11_12_to_merge_df["identifier"] = (og_italy_11_12_to_merge_df["date"].astype(str) +
                                            "_" +
                                            og_italy_11_12_to_merge_df["home_team_id"].astype(str) + 
                                            "_" +
                                            og_italy_11_12_to_merge_df["away_team_id"].astype(str))

italy_11_12_web_data["identifier"] =  (italy_11_12_web_data["date"].astype(str) +
                                       "_" +
                                            italy_11_12_web_data["home_team_id"].astype(str) + 
                                       "_" +
                                            italy_11_12_web_data["away_team_id"].astype(str))

In [61]:
set(italy_11_12_web_data["identifier"]) - set(og_italy_11_12_to_merge_df["identifier"])

{'2012-02-04_8686_8636',
 '2012-03-04_8535_9880',
 '2012-03-04_8551_8529',
 '2012-03-04_8600_8524',
 '2012-03-04_8636_8530',
 '2012-03-04_8686_8543',
 '2012-03-04_9857_6269',
 '2012-03-04_9888_10233',
 '2012-03-07_10167_8535',
 '2012-03-07_9857_9885',
 '2012-03-07_9880_8530',
 '2012-03-11_10233_9885',
 '2012-03-11_6269_8600',
 '2012-03-11_8524_10167',
 '2012-03-11_8530_8535',
 '2012-03-11_8543_9857',
 '2012-03-11_8564_9888',
 '2012-03-11_9880_8551',
 '2012-03-25_9875_8530',
 '2012-04-01_8529_8524',
 '2012-04-01_8535_8533',
 '2012-04-01_9885_9875',
 '2012-04-01_9888_9880'}

In [62]:
italy_11_12_web_data = italy_11_12_web_data.loc[italy_11_12_web_data["identifier"].isin(set(italy_11_12_web_data["identifier"]) -
                                                                                        set(og_italy_11_12_to_merge_df["identifier"]))]

In [63]:
italy_11_12_web_data = italy_11_12_web_data.drop("identifier", axis=1)

og_italy_11_12_to_merge_df = og_italy_11_12_to_merge_df.drop("identifier", axis=1)

In [64]:
print(len(italy_11_12_web_data))
italy_11_12_web_data = italy_11_12_web_data.merge(og_italy_11_12_to_merge_df,
                                                  on=["date", "home_team_id", "away_team_id"],
                                   how="left")
print(len(italy_11_12_web_data))

23
23

In [65]:
italy_11_12_web_data = italy_11_12_web_data[match_df.columns]

In [66]:
italy_11_12_web_data.isnull().sum().head(31)

country_id         0
league_id          0
season             0
stage              0
date               0
match_id           0
home_team_id       0
away_team_id       0
home_team_goal     0
away_team_goal     0
home_player_1     23
home_player_2     23
home_player_3     23
home_player_4     23
home_player_5     23
home_player_6     23
home_player_7     23
home_player_8     23
home_player_9     23
home_player_10    23
home_player_11    23
away_player_1     23
away_player_2     23
away_player_3     23
away_player_4     23
away_player_5     23
away_player_6     23
away_player_7     23
away_player_8     23
away_player_9     23
away_player_10    23
dtype: int64

In [67]:
italy_11_12_web_data.isnull().sum().tail(31)

away_player_11    23
B365H              0
B365D              0
B365A              0
BWH                0
BWD                0
BWA                0
IWH                0
IWD                0
IWA                0
LBH                0
LBD                0
LBA                0
PSH               23
PSD               23
PSA               23
WHH                0
WHD                0
WHA                0
SJH                0
SJD                0
SJA                0
VCH                0
VCD                0
VCA                0
GBH                0
GBD                0
GBA                0
BSH                0
BSD                0
BSA                0
dtype: int64

In [68]:
print(match_df.shape)
match_df = pd.concat([match_df, italy_11_12_web_data])
print(match_df.shape)

match_df = match_df.reset_index(drop=True)

(26207, 62)
(26230, 62)

In [69]:
temp = (match_df.loc[(match_df["league_id"]==10257) & (match_df["season"]=="2011/2012")]
        .groupby(["home_team_id", "away_team_id"]).size().reset_index())

temp.loc[temp[0]>1]

     home_team_id  away_team_id  0
239          8686          8636  2

In [70]:
temp = match_df.loc[(match_df["season"]=="2011/2012") &
                    (match_df["home_team_id"]==8686) & 
                    (match_df["away_team_id"]==8636)]

In [71]:
top_row = temp.head(1)
bottom_row = temp.tail(1)
for col in match_df.columns:
    if top_row[col].isnull().values[0]:
        match_df.loc[(match_df["season"]=="2011/2012") &
                    (match_df["home_team_id"]==8686) & 
                    (match_df["away_team_id"]==8636) & 
                     (match_df.index==top_row.index[0]), col] = bottom_row[col].values[0]

In [72]:
match_df.loc[(match_df["season"]=="2011/2012") &
                    (match_df["home_team_id"]==8686) & 
                    (match_df["away_team_id"]==8636)]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
11527,10257,10257,2011/2012,22.0,2012-02-05,1083371,8686,8636,4,0,...,3.0,2.5,3.25,3.0,2.4,3.2,2.9,2.38,3.2,2.88
26207,10257,10257,2011/2012,21.0,2012-02-04,2217118,8686,8636,4,0,...,3.0,2.5,3.25,3.0,2.4,3.2,2.9,2.38,3.2,2.88

In [73]:
match_df=  match_df.loc[~((match_df["season"]=="2011/2012") &
                        (match_df["home_team_id"]==8686) & 
                        (match_df["away_team_id"]==8636) & 
                        (match_df["match_id"]==0))]

In [74]:
(match_df.loc[(match_df["league_id"]==10257) & (match_df["season"]=="2011/2012")]
 .groupby(["home_team_id", "away_team_id"]).size().value_counts())

1    379
2      1
dtype: int64

In [75]:
italy_14_15_web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/italy-serie-a-2014-to-2015.csv")

italy_14_15_web_data = italy_14_15_web_data.dropna(how='all')

In [76]:
print(len(italy_14_15_web_data))

380

In [77]:
missing_teams = [t for t in set(list(italy_14_15_web_data["HomeTeam"].unique()) + 
                                list(italy_14_15_web_data["AwayTeam"].unique()))
                 if t not in set(italian_teams["team_long_name"])]

missing_teams

['Verona', 'Chievo']

In [78]:
italian_mapping = {"Chievo": 8533, "Verona": 9876} 
#Chievo Verona first match: 2008-08-31
#'Hellas Verona' first match: 2013-08-24

In [79]:
for t in italian_teams["team_long_name"].unique():
    if t not in italian_mapping.keys():
        italian_mapping[t] = italian_teams.loc[italian_teams["team_long_name"] == t, "team_id"].values[0]

italy_14_15_web_data["home_team_id"] = italy_14_15_web_data["HomeTeam"].map(italian_mapping)
italy_14_15_web_data["away_team_id"] = italy_14_15_web_data["AwayTeam"].map(italian_mapping)

italy_14_15_web_data.isnull().sum().head(36)

Div         0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          1
AY          0
HR          0
AR          0
B365H       0
B365D       0
B365A       0
BWH         0
BWD         0
BWA         0
IWH         3
IWD         3
IWA         3
LBH         0
LBD         0
LBA         0
PSH         0
PSD         0
dtype: int64

In [80]:
italy_14_15_web_data.isnull().sum().tail(36)

LBA               0
PSH               0
PSD               0
PSA               0
WHH               2
WHD               2
WHA               2
SJH             361
SJD             361
SJA             361
VCH               0
VCD               0
VCA               0
Bb1X2             0
BbMxH             0
BbAvH             0
BbMxD             0
BbAvD             0
BbMxA             0
BbAvA             0
BbOU              0
BbMx>2.5          0
BbAv>2.5          0
BbMx<2.5          0
BbAv<2.5          0
BbAH              0
BbAHh             0
BbMxAHH           0
BbAvAHH           0
BbMxAHA           0
BbAvAHA           0
PSCH              0
PSCD              0
PSCA              0
home_team_id      0
away_team_id      0
dtype: int64

In [81]:
italy_14_15_web_data["date"] = pd.to_datetime(italy_14_15_web_data["Date"], dayfirst=True)

italy_14_15_web_data['home_team_goal'] = italy_14_15_web_data["FTHG"]
italy_14_15_web_data['away_team_goal'] = italy_14_15_web_data["FTAG"]
italy_14_15_web_data["league_id"] = 10257
italy_14_15_web_data["country_id"] = 10257

In [82]:
max_match_id = match_df["match_id"].max()

italy_14_15_web_data["match_id"] = list(range(max_match_id+1, max_match_id+1+len(italy_14_15_web_data), 1))

In [83]:
italy_14_15_web_data["season"] = "2014/2015"

italy_14_15_web_data = italy_14_15_web_data[[c for c in italy_14_15_web_data.columns if c in match_df.columns]]

temp = match_df.loc[(match_df["league_id"] == 10257) & (match_df["season"] == "2014/2015"),
                    ["date", "stage", "home_team_id", "away_team_id"]].sort_values("date")

In [84]:
temp.groupby("stage")["home_team_id"].nunique()

stage
1.0     10
2.0     10
3.0     10
4.0     10
5.0     10
6.0     10
7.0     10
8.0     10
9.0     10
10.0    10
11.0    10
12.0    10
13.0    10
14.0    10
15.0    10
16.0    10
17.0    10
18.0    10
19.0    10
20.0    10
21.0    10
22.0    10
23.0    10
24.0    10
25.0    10
26.0    10
27.0    10
28.0    10
29.0    10
30.0    10
31.0    10
32.0    10
33.0    10
34.0    10
35.0    10
36.0    10
37.0    10
38.0     9
Name: home_team_id, dtype: int64

In [85]:
temp.tail(10).sort_values(["date", "home_team_id"])

            date  stage  home_team_id  away_team_id
12808 2015-05-25   37.0          8543          8686
12817 2015-05-30   38.0          8524          8564
12816 2015-05-30   38.0          9876          9885
12815 2015-05-31   38.0          7943         10233
12820 2015-05-31   38.0          8529          8600
12813 2015-05-31   38.0          8535          8533
12814 2015-05-31   38.0          8636          8534
12818 2015-05-31   38.0          8686          8540
12812 2015-05-31   38.0          9804          9880
12819 2015-05-31   38.0          9882         10167

In [86]:
og_italy_14_15_to_merge_df = match_df.loc[(match_df["league_id"]==10257) & (match_df["season"]=="2014/2015")]

og_italy_14_15_to_merge_df = og_italy_14_15_to_merge_df[["date", "home_team_id", "away_team_id"]+
                                                        [c for c in og_italy_14_15_to_merge_df.columns if
                                                         c not in italy_14_15_web_data.columns]]

og_italy_14_15_to_merge_df["identifier"] = (og_italy_14_15_to_merge_df["date"].astype(str) +
                                            "_" +
                                            og_italy_14_15_to_merge_df["home_team_id"].astype(str) +
                                            "_" +
                                            og_italy_14_15_to_merge_df["away_team_id"].astype(str))

italy_14_15_web_data["identifier"] =  (italy_14_15_web_data["date"].astype(str) +
                                       "_" +
                                            italy_14_15_web_data["home_team_id"].astype(str) +
                                       "_" +
                                            italy_14_15_web_data["away_team_id"].astype(str))

set(italy_14_15_web_data["identifier"]) - set(og_italy_14_15_to_merge_df["identifier"])

{'2015-05-31_9875_8543'}

In [87]:
italy_14_15_web_data = italy_14_15_web_data.loc[italy_14_15_web_data["identifier"].isin(set(italy_14_15_web_data["identifier"]) -
                                                                                        set(og_italy_14_15_to_merge_df["identifier"]))]

italy_14_15_web_data = italy_14_15_web_data.drop("identifier", axis=1)

og_italy_14_15_to_merge_df = og_italy_14_15_to_merge_df.drop("identifier", axis=1)

print(len(italy_14_15_web_data))
italy_14_15_web_data = italy_14_15_web_data.merge(og_italy_14_15_to_merge_df,
                                                  on=["date", "home_team_id", "away_team_id"],
                                   how="left")
print(len(italy_14_15_web_data))

italy_14_15_web_data = italy_14_15_web_data[match_df.columns]

print(match_df.shape)
match_df = pd.concat([match_df, italy_14_15_web_data])
print(match_df.shape)

match_df = match_df.sort_values("date").reset_index(drop=True)

1
1
(26230, 62)
(26231, 62)

In [88]:
check_web_league_season = (match_df.merge(league_df)
                           .groupby(["league_id", "season"])
                           .agg({"home_team_goal": "sum", "away_team_goal": "sum", "match_id": "size"})
                           .reset_index())
check_web_league_season

    league_id     season  home_team_goal  away_team_goal  match_id
0           1  2008/2009           499.0           356.0       306
1           1  2009/2010           308.0           257.0       210
2           1  2010/2011           382.0           253.0       240
3           1  2011/2012           421.0           270.0       240
4           1  2012/2013           375.0           328.0       240
..        ...        ...             ...             ...       ...
83      24558  2011/2012           235.0           190.0       162
84      24558  2012/2013           272.0           190.0       180
85      24558  2013/2014           290.0           230.0       180
86      24558  2014/2015           289.0           228.0       180
87      24558  2015/2016           321.0           245.0       180

[88 rows x 5 columns]

In [89]:
check_web_league_season["season"].unique()

array(['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013',
       '2013/2014', '2014/2015', '2015/2016'], dtype=object)

In [90]:
league_df

    league_id  country_id                      name
0           1           1    Belgium Jupiler League
1        1729        1729    England Premier League
2        4769        4769            France Ligue 1
3        7809        7809     Germany 1. Bundesliga
4       10257       10257             Italy Serie A
5       13274       13274    Netherlands Eredivisie
6       15722       15722        Poland Ekstraklasa
7       17642       17642  Portugal Liga ZON Sagres
8       19694       19694   Scotland Premier League
9       21518       21518           Spain LIGA BBVA
10      24558       24558  Switzerland Super League

In [91]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==1) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

2008
unequal goals

In [92]:
web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/belgium-jupiler-league-2008-to-2009.csv")

web_data["date"] = pd.to_datetime(web_data["Date"], dayfirst=True)

In [93]:
check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==1) &
                                       (check_web_league_season["season"]=="2008/2009")]

In [94]:
sum(web_data["FTHG"]), sum(web_data["FTAG"])

(499, 357)

In [95]:
og_belgium_08_09_match_df = match_df.loc[(match_df["league_id"]==1) &
                                         (match_df["season"]=="2008/2009")]

In [96]:
web_data["home_team_id"] = web_data["HomeTeam"].map(belgium_mapping)
web_data["away_team_id"] = web_data["AwayTeam"].map(belgium_mapping)

#web_data['home_team_goal'] = web_data["FTHG"]
#web_data['away_team_goal'] = web_data["FTAG"]
web_data = web_data[["date", "home_team_id", "away_team_id", "FTHG", "FTAG"]]
print(web_data.shape)
web_data = web_data.merge(og_belgium_08_09_match_df[["date", "home_team_id", "away_team_id",
                                                     "home_team_goal", "away_team_goal"]],
                         on=["date", "home_team_id", "away_team_id"], how="left")
print(web_data.shape)

(306, 5)
(306, 7)

In [97]:
web_data.isnull().sum()

date              0
home_team_id      0
away_team_id      0
FTHG              0
FTAG              0
home_team_goal    0
away_team_goal    0
dtype: int64

In [98]:
web_data.loc[web_data["away_team_goal"]!=web_data["FTAG"]]
#KSV Cercle Brugge vs KRC Genk
#https://us.soccerway.com/matches/2009/04/26/belgium/pro-league/cercle-brugge-ksv/krc-genk/657990/ 
#original data is right

,date,home_team_id,away_team_id,FTHG,FTAG,home_team_goal,away_team_goal
277,2009-04-26,9984,9987,1,3,1.0,2.0

In [99]:
web_data.loc[web_data["home_team_goal"]!=web_data["FTHG"]]

Empty DataFrame
Columns: [date, home_team_id, away_team_id, FTHG, FTAG, home_team_goal, away_team_goal]
Index: []

In [100]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/england-premier-league-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==1729) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [101]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/france-le-championnat-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==4769) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [102]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/germany-bundesliga-1-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==7809) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [103]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/italy-serie-a-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==10257) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

2011
unequal matches
-1

In [104]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/netherlands-eredivisie-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==13274) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [105]:
#website doesn't have Poland

In [106]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/portugal-liga-i-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==17642) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [107]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/scotland-premier-league-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==19694) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [108]:
for i in range(2008, 2016):
    
    web_data = pd.read_csv("https://sports-statistics.com/database/soccer-data/spain-la-liga-primera-division-{}-to-{}.csv".format(i, i+1))
    web_data = web_data.dropna(how='all')
    check_df = check_web_league_season.loc[(check_web_league_season["league_id"]==21518) &
                                               (check_web_league_season["season"]=="{}/{}".format(i, i+1))]
        
    if len(web_data) != check_df["match_id"].values[0]:
        print(i)
        print("unequal matches")
        print(len(web_data)-check_df["match_id"].values[0])
    elif ((sum(check_df["away_team_goal"]) - sum(web_data["FTAG"])) + 
          (sum(check_df["home_team_goal"]) - sum(web_data["FTHG"]))):
        print(i)
        print("unequal goals")

In [109]:
#no data on switzerland

In [110]:
match_df.to_csv(dir + "match_clean.csv")

In [111]:
match_df.groupby("match_id").size().sort_index()

match_id
483129     1
483130     1
483131     1
483132     1
483133     1
          ..
2217206    1
2217207    1
2217209    1
2217210    1
2217586    1
Length: 26231, dtype: int64

# Stage

In [ ]:
sea_lea_stage = match_df.groupby(["season", "league_id", "stage"]).agg({"date": ["min", "max"]}).reset_index()

England Premier League:

Looks like stage is "round" (stage of the league). I checked against the dataset here. 

https://github.com/footballcsv/england/blob/master/2010s/2015-16/eng.1.csv

I think eng.2, eng.3, eng.4 are the lower tier clubs so they're not relavent. Only eng.1 is in our dataset.

In [ ]:
sea_lea_stage.loc[(sea_lea_stage["league_id"]==1729) & (sea_lea_stage["season"]=="2013/2014")].head(10)

Format for Premeir League (from Wikipedia): 

There are 20 clubs in the Premier League. During the course of a season (from August to May) each club plays the others twice (a double round-robin system), once at their home stadium and once at that of their opponents', for 38 games. Teams receive three points for a win and one point for a draw. No points are awarded for a loss. Teams are ranked by total points, then goal difference, and then goals scored. If still equal, teams are deemed to occupy the same position. If there is a tie for the championship, for relegation, or for qualification to other competitions, a play-off match at a neutral venue decides rank.

A system of promotion and relegation exists between the Premier League and the EFL Championship. The three lowest placed teams in the Premier League are relegated to the Championship, and the top two teams from the Championship promoted to the Premier League,with an additional team promoted after a series of play-offs involving the third, fourth, fifth and sixth placed clubs.

In [ ]:
# 9825 1st match against 10252 at 9825's home = stage 1
# then plays every other team 
# stage 21 = plays against 10252 again but at 10252's home

match_df.loc[(match_df["league_id"]==1729) & (match_df["season"]=="2013/2014") & 
             ((match_df["home_team_id"]==9825) | (match_df["away_team_id"]==9825)), 
             ["date", "stage", "home_team_id", "away_team_id"]].sort_values("stage")

In [ ]:
(match_df.loc[(match_df["league_id"]==1729) & (match_df["season"]=="2013/2014"), "home_team_id"].nunique(),
match_df.loc[(match_df["league_id"]==1729) & (match_df["season"]=="2013/2014"), "away_team_id"].nunique())

In [ ]:
#all teams played each other twice

temp = match_df.loc[(match_df["league_id"]==1729) & (match_df["season"]=="2013/2014"), 
                    ["home_team_id", "away_team_id"]].values
temp = pd.DataFrame(np.sort(temp,axis=1))
temp[0] = temp[0].astype(str)
temp[1] = temp[1].astype(str)
temp[2] = temp[[0,1]].apply(tuple, axis=1).str.join('_')
temp[2].value_counts().value_counts()

Germany 1. Bundesliga

https://github.com/footballcsv/deutschland/blob/master/2010s/2013-14/de.1.csv

Format:
    
Each club plays every other club once at home and once away. Victory is worth three points, while a draw remains worth a single point, and zero points are given for a loss.  

The two teams at the bottom of the table are relegated into the 2. Bundesliga, while the top two teams in the 2. Bundesliga are promoted. The 16th-placed team (third-last), and the third-placed team in the 2. Bundesliga play a two-leg play-off match. The winner of this match plays the next season in the Bundesliga, and the loser in the 2. Bundesliga.

If teams are level on points, tie-breakers are applied in the following order:

Goal difference for the entire season
Total goals scored for the entire season
Head-to-head results (total points)
Head-to-head goals scored
Head-to-head away goals scored
Total away goals scored for the entire season

If two clubs are still tied after all of these tie-breakers have been applied, a single match is held at a neutral site to determine the placement. However, this has never been necessary in the history of the Bundesliga.

In [ ]:
sea_lea_stage.loc[(sea_lea_stage["league_id"]==7809) & (sea_lea_stage["season"]=="2013/2014")].tail(10)

In [ ]:
#1/19

match_df.loc[(match_df["league_id"]==7809) & (match_df["season"]=="2013/2014") & 
             ((match_df["home_team_id"]==9823) | (match_df["away_team_id"]==9823)), 
             ["date", "stage", "home_team_id", "away_team_id"]].sort_values("stage")

In [ ]:
temp = match_df.loc[(match_df["league_id"]==7809) & (match_df["season"]=="2013/2014"), 
                    ["home_team_id", "away_team_id"]].values
temp = pd.DataFrame(np.sort(temp,axis=1))
temp[0] = temp[0].astype(str)
temp[1] = temp[1].astype(str)
temp[2] = temp[[0,1]].apply(tuple, axis=1).str.join('_')
temp[2].value_counts().value_counts() #all teams played each other twice

In [ ]:
(match_df.loc[(match_df["league_id"]==7809) & (match_df["season"]=="2013/2014"), "home_team_id"].nunique(),
match_df.loc[(match_df["league_id"]==7809) & (match_df["season"]=="2013/2014"), "away_team_id"].nunique())

# Odds Data

In [ ]:
odds_col = match_df.columns[32:62]
odds_col #all have win/tie/lose columns

In [ ]:
#either have all win/tie/lose odds or no odds data

for i in range(0, len(odds_col), 3):
    print(odds_col[i:i+3])
    print(match_df[odds_col[i:i+3]].isnull().sum(axis=1).value_counts())
    print("------------------------------------")

In [ ]:
#PS data starts on 7/28/12
#everyone else 8/9/08


odds_missing_season = pd.DataFrame({"season": match_df["season"].unique()})

odds_missing_league = pd.DataFrame({"league_id": match_df["league_id"].unique()})
odds_missing_league = odds_missing_league.merge(league_df, on="league_id")

for i in range(0, len(odds_col), 3):
    odds_missing_season = (odds_missing_season
                           .merge(match_df[odds_col[i]].isnull().groupby(match_df["season"]).mean().reset_index()))
    
    odds_missing_league = (odds_missing_league
                           .merge(match_df[odds_col[i]].isnull().groupby(match_df["league_id"]).mean().reset_index()))
    
    print(odds_col[i])
    print(match_df.loc[~match_df[odds_col[i]].isnull(), "date"].min())
    print("------------------------------------------------------------------------------")

In [ ]:
#PSH data starts 2012/2013
#GBH & BSH no data from 2013/2014 - 2015/2016
#SJH no data 2015/2016 and 90% missing 2014/2015

round(odds_missing_season, 3)

In [ ]:
league_df

In [ ]:
#no odds data on Poland and Switzerland

round(odds_missing_league, 3)

In [ ]:
temp = match_df["SJH"].isnull().groupby([match_df["season"], match_df["league_id"]]).mean().reset_index()
for l in temp["league_id"].unique():
    print(temp.loc[temp["league_id"]==l])
    print("-------------------------------------------------")

In [ ]:
#not on found website
#Poland is 7.4% of all matches
#Switzerland is 5.5% of all matches

(match_df.loc[match_df["country_id"].isin([24558, 15722])]
 .groupby("country_id")["match_id"].nunique()) / len(match_df)

# Players

In [15]:
starting_players_col = list(match_df.columns[10:32])

starting_players_df = match_df[["season", "league_id"] + starting_players_col]

starting_players_df = starting_players_df.merge(league_df, on="league_id")

starting_players_df["total_missing"] = match_df[starting_players_col].isnull().sum(axis=1)

starting_players_df["none_missing"] = np.where(starting_players_df["total_missing"]==0,1,0)

starting_players_df["home_missing"] = match_df[starting_players_col[:11]].isnull().sum(axis=1)

starting_players_df["away_missing"] = match_df[starting_players_col[11:]].isnull().sum(axis=1)

In [16]:
starting_players_df["total_missing"].value_counts().sort_index()

0     21528
1      2122
2       398
3       185
4       119
5        99
6       103
7        97
8        75
9       125
10       78
11       92
12       69
13       38
14       40
15       21
16       12
17        7
18        1
21     1022
Name: total_missing, dtype: int64

In [17]:
# 14% home missing != away missing

np.mean(starting_players_df["home_missing"] == starting_players_df["away_missing"])

0.8324882772292326

In [18]:
(starting_players_df["home_missing"] - starting_players_df["away_missing"]).value_counts()

 0    21837
-1     2390
 1     1126
-2      257
 2      196
-3      136
 3       93
-4       77
-5       37
 4       30
-6       21
 5       19
-7        4
 6        4
 7        3
-8        1
dtype: int64

In [19]:
abs(starting_players_df["home_missing"] - starting_players_df["away_missing"]).value_counts()

0    21837
1     3516
2      453
3      229
4      107
5       56
6       25
7        7
8        1
dtype: int64

In [20]:
#missing earlier seasons

round(starting_players_df.groupby("season")["total_missing"].mean(), 2)

season
2008/2009    1.53
2009/2010    1.38
2010/2011    1.60
2011/2012    1.44
2012/2013    1.11
2013/2014    1.12
2014/2015    1.03
2015/2016    0.95
Name: total_missing, dtype: float64

In [21]:
round(starting_players_df.groupby("season")["none_missing"].mean(), 2)

season
2008/2009    0.82
2009/2010    0.82
2010/2011    0.81
2011/2012    0.81
2012/2013    0.82
2013/2014    0.83
2014/2015    0.82
2015/2016    0.84
Name: none_missing, dtype: float64

In [ ]:
# mostly missing Poland (24%)

round(starting_players_df.groupby(["league_id", "name"])["total_missing"].mean(),2)

In [ ]:
round(starting_players_df.groupby(["league_id", "name"])["none_missing"].mean(),2)

In [ ]:
temp = round(starting_players_df.groupby(["season", "name"])["none_missing"].mean().reset_index(),2)

for n in temp["name"].unique():
    print(temp.loc[temp["name"]==n])
    print("----------------------------------------------------")

In [ ]:
temp = round(starting_players_df.groupby(["season", "name"])["total_missing"].mean().reset_index(),2)

for n in temp["name"].unique():
    print(temp.loc[temp["name"]==n])
    print("----------------------------------------------------")

# Goals check

In [ ]:
match_df[["home_team_goal", "away_team_goal"]].sum(axis=1).value_counts().sort_index()

In [ ]:
match_df["home_team_goal"].value_counts()

In [ ]:
match_df["away_team_goal"].value_counts()